<div ng-controller="RegisterUserCtrl" data-ng-init="getAllUser()" id="content">                  
                                             
    <section id="widget-grid" class="">
   <div class="body table-responsive">
   <table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
   <ul class="col-sm-12">
    <input id="tombolsearch"  ng-model="test" class="form-control mr-sm-2" type="search" placeholder="Search">
   <button style="float: right;"  class="btn btn-default waves-effect m-r-20" ng-click="openModalTambah()"> Tambah</button>
</div>
   </ul>
<thead>
    <tr>
      
      <th>Office Company</th>
      <th>Registered Address</th>
      <th>Postal-Code</th>
      <th>Phone</th>
      <th>NPWP</th>
      <th>Location Operation</th>
      <th>Hours Service</th>
      <th>Commencement Date</th>
      <th>Organization Chart</th>
      <th>Operation Manual</th>
      <th>Facilities Installed</th>
      <th>Staff Engaged</th>
      <th>Org.Hold CASR172</th>
      <th>Reference</th>
      <th>Detail Reason</th>
      <th>On Behalf Of</th>
      <th>Signed</th>
      <th>Authority</th>
      <th>Name Of Person</th>
      <th>E-Mail</th>
      <th>User-Name</th>
      <th>Password</th>
      <th>Company Name</th>
      <th>Ats1</th>
      <th>Ats2</th>
      <th>Ats3
      <th>Ats4</th>
      <th>Ats5</th>
      <th>Airport.Id</th>
      <th>Created</th>
      <th colspan="2">Edit</th>
      
    </tr>
  </thead>
    <tr ng-repeat="user in  list_user | filter:test" value="Get Row Index">
      
       
      <td>{{user.nama}}</td>
      <td>{{user.kode_user}} </td>
      <td>{{user.pass}}</td>
      <td>{{user.email}}</td>
      <td>{{user.alamat}}</td>
      <td>{{user.telp}}</td>
      <td>{{user.tipe}}</td>
      

      <!-- <td><button type="button" class="waves-effect btn btn-primary" ng-click="openModal(ai.airport_id)">Update</button></td> -->
      <td><button data-target="#editModal" data-toggle="modal" ng-click="updateUser(user.id)"  type="button" class="waves-effect btn btn-primary">Edit</button></td>
      <td><button type="button" ng-click="deleteUser(us.id)"  class="waves-effect btn btn-primary">Delete</button></td>
                           
      
    </tr>
</table>
</section>
</div>