
    
             <!-- start -->
             <div id="content">                  
                                             
                 <section id="widget-grid" class="">
    
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="widget-body no-padding">                                
         <div ng-controller="userCtrl" data-ng-init="getPertanyaanBYKodeArea('ATC')" class="body table-responsive">
           <table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
         
         
             <thead>
             <tr>
               
               <th>No. Pertanyaan</th>
         
               <th>Pertanyaan</th>
               
               <th>Dokumen Referensi</th>
               <th>Detail Protocol Question</th>
               <th>Apakah Sudah Sesuai Dengan Referensi ?</th>
               <th>Detail PQ</th>
               <th>Bukti Yang Harus Disampaikan</th>
               
             
               
             </tr>
           </thead>
             <tr ng-repeat="user in users" value="Get Row Index">
               
                
               <td> {{user.pq_number}}</td>
               <td>{{user.protocol_question}} </td>
               <td>{{user.doc_refrence}}</td>
               
              
               
               <td><select  ng-model="selectedItem" value= "Get Row Index" ng-change="updateData(selectedItem.id,$index)" 
                 ng-options="option.value for option in names">           
         </select>{{selectedItem}}</td>
         
               <td><button type="button" class="btn btn-primary" ng-click="openModal(user.detail_pq)">Det</button></td>
               <td><input type="file" ng-click="setIndex($index)" ng-model="file" multiple accept=".pdf" onchange="angular.element(this).scope().updateDataLampiran(this.files)" ng-click="setIndex($index)"/><p>{{user.remarks}}</p></td>
             </tr>
         </table>
         <button ng-click="PostData()" type="button" class="btn bg-blue waves-effect waves-light pull-right">Submit</button> 
             
             
         
                         
                   
                     <!-- #END#  -->
                     </div>
         
                 </div>
         </div>
         
         </div>
        </div>
        </section>
      </div>
         
             
              