<div class="row">
<article class="col-sm-12">
<div class="jarviswidget-editbox"></div>
<div class="widget-body">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
        <header role="heading">
            <span class="widget-icon"><i class="fa fa-table"></i></span>
              <h2><strong>PROTOCOL QUESTION SERTIFIKASI PENYELENGGARA PELAYANAN LALU LINTAS PENERBANGAN</strong></h2>
              <div class="jarviswidget-ctrls" role="menu">
                 <a href="javascript:void(0);" ng-click="" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Create Data">
                    <i class="fa fa-plus "></i></a>
                  <a href="javascript:void(0);" ng-click="" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Upload Data">
                    <i class="fa fa-upload "></i></a>
              </div>
              <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
         <div  class="body table-responsive">
           <table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
             <thead>
             <tr>
               <th>No. Pertanyaan</th>
               <th>Pertanyaan</th>
               <th>Dokumen Referensi</th>
               <th>Apakah Sudah Sesuai Dengan Referensi ?</th>
               <th>Detail Protocol Question</th>
               <th>Remarks</th>
               <th>Bukti Yang Harus Disampaikan</th>
             </tr>
           </thead>
             <tr ng-repeat="user in AfisDetailBy" value="Get Row Index">
               <td> {{user.pq_number}}</td>
               <td>{{user.protocol_question}} </td>
               <td>{{user.doc_refrence}}</td>
               <td><select  ng-model="selectedItem" value= "Get Row Index" ng-change="updateData(selectedItem.id,$index)"
                 ng-options="option.value for option in names">
         </select>{{selectedItem}}</td>
               <td><button type="button" class="btn btn-primary" ng-click="openModal(user,$index)">Detail</button></td>
               <td><input type="text" ng-model="user.remarks"></td>
               <td>
                <input type="file" ng-click="setIndex($index)" ng-model="file" multiple accept=".pdf" onchange="angular.element(this).scope().updateDataLampiran(this.files)" /></td>
             </tr>
         </table>
         <button ng-click="PostData(users)" type="button" class="btn bg-blue waves-effect waves-light pull-right">Submit</button>
        </div>
    </div>
  </div>
</article>
</div>
