<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-18" data-widget-colorbutton="false"
    data-widget-editbutton="false" role="widget">
    <header role="heading">
        <div class="jarviswidget-ctrls" role="menu"></div>
        <marquee scrolldelay="500" behavior="alternate">
            <h2>
                <strong>{{header}}</strong>
            </h2>
        </marquee>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <!-- widget div-->
    <div role="content">
        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            <input class="form-control" type="text">
            <span class="note">
                <i class="fa fa-check text-success"></i> Change title to update and save instantly!
            </span>
        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">
                <div class="row">
                    <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                            <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                        <button class="btn btn-warning" ng-click="closeModalDocDetail()">
                            <i class="fa fa-close"></i>
                            <span class="hidden-check">CLOSE</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No.Protocol</th>
                            <th>Protocol Question</th>
                            <th>Doc.ref</th>
                            <th>Area</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in AfisDetail = (AfisDetail | filter : search) | limitTo:6:6*(page-1)">
                            <td>{{p.pq.pq_number}}</td>
                            <td>{{p.pq.protocol_question}}</td>
                            <td>{{p.kode_area}}</td>
                            <td>{{p.pq.doc_refrence}}</td>
                            <td>
                                <button type="button" ng-click="openModal(p)" class="waves-effect btn btn-primary">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end widget content -->
    </div>
    <div uib-pagination class="pagination-sm pagination" total-items="AfisDetail.length" ng-model="page" ng-change="pageChanged()"
        previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4></div>
    <!-- end widget div -->
</div>