<style>
  .fa-ban {
    color: #FF0040;
  }

  .fa-check {
    color: #40FF00;
  }

  .fa-list {
    color: #E0F8EC;
  }
</style>
<article>
  <div class="jarviswidget-editbox"></div>
  <div class="widget-body" ng-controller="CapAfisCtrl">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false"
      data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false"
      data-widget-fullscreenbutton="false" role="widget">
      <header role="heading">
        <span class="widget-icon">
          <i class="fa fa-plane"></i>
        </span>
        <h2>
          <strong>{{title}}</strong>
        </h2>
        <div class="jarviswidget-ctrls" role="menu">
          <a href="javascript:void(0);" ng-click="getBy('AFIS',111)" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;"
            data-placement="top" title="All Approve">
            <u>Waiting List</u>&nbsp
            <i class="fa fa-tasks"></i>
          </a>
          <a href="javascript:void(0);" ng-click="getBy('AFIS',22)" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;"
            data-placement="top" title="All Approve">
            <u>Approved</u>&nbsp
            <i class="fa fa-check "></i>
          </a>
          <a href="javascript:void(0);" ng-click="getBy('AFIS',-22)" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;"
            data-placement="top" title="All Reject">
            <u>rejected</u>&nbsp
            <i class="fa fa-ban "></i>
          </a>
        </div>
        <span class="jarviswidget-loader">
          <i class="fa fa-refresh fa-spin"></i>
        </span>
      </header>
      <div id="content">
        <div class="col-md-5 ">
          <div class="well">
            <div class="input-group">
              <input class="form-control" type="text" ng-model="test" placeholder="Search...">
              <div class="input-group-btn">
                <button class="btn btn-default btn-primary" type="button">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
            </div>
          </div>
          <div class="body table-responsive">
            <table class="table table-bordered table-hover table-responsive" style="text-align: left; width: 100%">
              <thead>
                <tr>
                  <th>
                    <b>Airport</b>
                  </th>
                  <th>
                    <b>Island</b>
                  </th>
                  <th>
                    <b>City</b>
                  </th>
                  <th>
                    <b>Persone Name</b>
                  </th>
                  <th>
                    <b>No.Telephone</b>
                  </th>
                  <th>
                    <b>Type</b>
                  </th>
                  <th>Detail</th>

                </tr>
              </thead>
              <tr ng-repeat="l in list_p | filter : test" value="Get Row Index">
                <td>
                  <b>{{l.user.airport.airport_name}}</b>
                </td>
                <td>
                  <b>{{l.user.airport.island}} </b>
                </td>
                <td>
                  <b>{{l.user.airport.city}}</b>
                </td>
                <td>
                  <b>{{l.user.nama}}</b>
                </td>
                <td>
                  <b>{{l.user.hp}}</b>
                </td>
                <td>
                  <b>{{l.kode_prog}}</b>
                </td>
                <td>
                  <button ng-click="showDetail(l)" type="button" class="waves-effect btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="col-md-7" ng-show="AfisDetail.length > 0">
          <div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-18" data-widget-colorbutton="false"
            data-widget-editbutton="false" role="widget">

            <header role="heading">
              <div class="jarviswidget-ctrls" role="menu">

              </div>
              <h2>
                <strong>{{header}}</strong>
              </h2>
              <span class="jarviswidget-loader">
                <i class="fa fa-refresh fa-spin"></i>
              </span>
            </header>
            <!-- widget div-->
            <div role="content">
              <!-- widget edit box -->
              <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
                <input class="form-control" type="text">
                <span class="note">
                  <i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
              </div>
              <!-- end widget edit box -->

              <!-- widget content -->
              <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                  <div class="row">
                    <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
                      </div>
                    </div>
                    <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                      <button class="btn btn-success" ng-click="SubmitProg(AfisDetail,'22')">
                        <i class="fa fa-check"></i>
                        <span class="hidden-check">Submit Approve</span>
                      </button>
                      -
                      <button class="btn btn-danger" ng-click="SubmitProg(AfisDetail,'-22')">
                        <i class="fa fa-ban"></i>
                        <span class="hidden-check">Submit Reject</span>
                      </button>
                    </div>
                  </div>
                </div>
                <form class="smart-form">
                  <fieldset>
                    <section>
                      <div class="row">
                        <div class="col col-10">
                          <label class="checkbox">1&nbsp&nbsp&nbsp&nbsp Acknowledggment of application within 7 days</label>
                          <hr>
                          <label class="checkbox">2&nbsp&nbsp&nbsp&nbsp Face-to-Face Meeting</label>
                          <hr>
                          <label class="checkbox">3&nbsp&nbsp&nbsp&nbsp Operations Manual provided by applicant</label>
                          <hr>
                          <label class="checkbox">4&nbsp&nbsp&nbsp&nbsp Application Chechked for Compieteness</label>
                          <hr>
                          <label class="checkbox">5&nbsp&nbsp&nbsp&nbsp Documentation assessed against CASR Part 172 and AC 172</label>
                          <hr>
                          <label class="checkbox">6&nbsp&nbsp&nbsp&nbsp Demonstration of service required/no required and provided/not provided by applicant</label>
                          <hr>
                          <label class="checkbox">7&nbsp&nbsp&nbsp&nbsp Applicant assessed as being able to provide a service</label>
                          <hr>
                          <label class="checkbox">8&nbsp&nbsp&nbsp&nbsp Application granted/declined</label>
                          <hr>
                          <label class="checkbox">9&nbsp&nbsp&nbsp&nbsp Certification advised of outcome</label>
                          <hr>
                          <label class="checkbox">10&nbsp&nbsp Certificated Issue</label>
                          <hr>
                          <label class="checkbox">11&nbsp&nbsp Operations Manual acknowledged and returned</label>
                          <hr>

                        </div>
                        <div class="col col-2" align="center">
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[0].checked" ng-click="switchStep(steps[0].checked,'1')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" class="checkbox style-3" ng-model="steps[1].checked" ng-click="switchStep(steps[1].checked,'2')" name="checkbox">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[2].checked" ng-click="switchStep(steps[2].checked,'3')">
                            <i></i>&nbsp;</label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[3].checked" ng-click="switchStep(steps[3].checked,'4')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[4].checked" ng-click="switchStep(steps[4].checked,'5')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[5].checked" ng-click="switchStep(steps[5].checked,'6')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[6].checked" ng-click="switchStep(steps[6].checked,'7')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[7].checked" ng-click="switchStep(steps[7].checked,'8')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[8].checked" ng-click="switchStep(steps[8].checked,'9')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[9].checked" ng-click="switchStep(steps[9].checked,'10')">
                            <i></i>&nbsp;
                          </label>
                          <hr>
                          <label class="checkbox">
                            <input type="checkbox" name="checkbox" ng-model="steps[10].checked" ng-click="switchStep(steps[10].checked,'11')">
                            <i></i>&nbsp;
                          </label>
                        </div>

                      </div>
                    </section>
                  </fieldset>
                </form>

              </div>
            </div>

            <!-- end widget content -->
          </div>
          <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page" ng-change="pageChanged()"
            previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></div>
          <!-- end widget div -->
        </div>
      </div>
    </div>
  </div>
  </div>
</article>