<form action="" id="review-form" class="smart-form" novalidate="novalidate">
    <div class="jarviswidget-ctrls" role="menu">
        <a href="javascript:void(0);" ng-click="close()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom"
            data-original-title="Delete">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <fieldset>
        <fieldset>
            <legend>
                <b>{{headerChild}}</b>
            </legend>
            <div>
                <b>Status :{{status_detail_pq}}</b>
            </div>
            <div>
                <b>Catatan Pengaju : {{remaksChild}}</b>
            </div>
        </fieldset>
        <section>
            <ull ng-repeat="parent in fileChild">
                <li>
                    <a href="{{urlGet}}/{{parent.path_file}}" target="_blank">{{parent.link_lampiran}}</a>
                </li>
                </ul>
        </section>
        <section>
            Catatan:
            <label class="label"></label>
            <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                <textarea ng-model="remaksAdmin2" rows="3" placeholder="Catatan"></textarea>
            </label>
        </section>
        <div class="row">
            <div class="col-sm-10"></div>
            <div class="col-sm-1">
                <button style="float:right;" class="btn btn-sm btn-primary" ng-click="approveOrReject(remaksAdmin2,'1')" type="button">
                    <i class="fa fa-check"></i>Approve
                </button>
            </div>
            <div class="col-sm-1">
                <button style="float:right;" ng-click="approveOrReject(remaksAdmin2,'2')" type="button" class="btn btn-sm btn-warning">
                    <i class="fa fa-ban "></i>Reject
                </button>
            </div>
        </div>
    </fieldset>


</form>