
  <div class="">
    <!-- <header>
      <p ng-click="cancel()">&times;</p>
    </header> -->
    <h1 style="margin: 20px 20px 0;">
      <strong>Sign Up </strong> <label class="pull-right" ng-click="cancel()">&times;</label>
    </h1>
      <steps style="padding: 20px">
        <step class="step1" name="first">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Section A: Applicant Details</h3>
            </div>
            <div class="panel-body">
              <form name="frmStep1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Person/Company Name * :</label>
                  <input type="text" class="form-control" placeholder="Name" ng-model="u.company_name"
                    ng-required="true" />
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Airport * :</label>
                  <select ui-select2="{ allowClear: true}" ng-model="u.airport" data-placeholer="Choose a Airport" ng-required="true" style="width: 100%;">
                      <option value=""></option>
                      <option ng-repeat="item in airportList" value="{{item}}">{{item.airport_type}} - {{item.airport_name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Type * :</label>
                  <select ui-select2="{ allowClear: true}" ng-model="u.select_areas" data-placeholer="Choose a type" ng-required="true" style="width: 100%;">
                      <option value=""></option>
                      <option ng-repeat="item in tipes" value="{{item.value}}">{{item.value}}</option>
                  </select>
                </div>
                <!-- <pre>{{select_areas}}</pre> -->
                <!-- ==== -->
                <div class="form-group">
                  <label for="">Location Of Proposed Part 172 Operation :</label>
                  <input type="text" class="form-control" ng-required="true" ng-model="u.location_operation"
                    placeholder="Location" required="true">
                </div>
                <div ng-if="u.select_areas == 'ATC'">
                  <div class="col-sm-7 form-group">
  <!--                   <input type="hidden" ng-model="select_area" value="ATC"/>
  -->                  
  <!-- {{select_area}} -->
                    <label for="">Air Traffic Service(s) To Be Provided :</label>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" ng-model="u.ats_aprovided1" id="at1" value="1" > Aerodrome Control Service
                      </label>
                    </div>
                    <div class="checkbox ">
                      <label>
                        <input type="checkbox" ng-model="u.ats_aprovided2" id="at2" value="1" > ATC
                      </label>
                    </div>
                    <div class="checkbox ">
                      <label>
                        <input type="checkbox" ng-model="u.ats_aprovided3" id="at3" value="1" > Approach Control Surveilence Service
                      </label>
                    </div>
                    <div class="checkbox ">
                      <label>
                        <input type="checkbox" ng-model="u.ats_aprovided4" id="at4" value="1" > Area Control Procedural Service
                      </label>
                    </div>
                    <div class="checkbox ">
                      <label>
                        <input type="checkbox" ng-model="u.ats_aprovided5" id="at5" value="1" > Area Control Surveilence Service
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <label for="">Daily Hours Of Service:</label>
                    <input style="max-height: 28px; max-width: 70px;" type="number" min="0" class="form-control input-sm"
                      ng-model="u.hours_service1" placeholder="Hours" required="true">
                    <input style="max-height: 28px; max-width: 70px;" type="number" min="0" class="form-control input-sm" ng-model="u.hours_service2"
                      placeholder="Hours" required="true">
                    <input style="max-height: 28px; max-width: 70px;" type="number" min="0" class="form-control input-sm" ng-model="u.hours_service3"
                      placeholder="Hours" required="true">
                    <input style="max-height: 28px; max-width: 70px;" type="number" min="0" class="form-control input-sm" ng-model="u.hours_service4"
                      placeholder="Hours" required="true">
                    <input style="max-height: 28px; max-width: 70px;" type="number" min="0" class="form-control input-sm" ng-model="u.hours_service"
                      placeholder="Hours" required="true">
                  </div>
                </div>
                <!-- ==== -->

                <div ng-if="u.select_areas == 'AFIS'">
                  
                  <div class="col-sm-7 form-group">
                    <label for="">Air Traffic Service(s) To Be Provided :</label>
                    <div class="checkbox ">
                      <label>
                        <input type="checkbox" ng-model="u.ats_aprovided1" id="at2" value="1" > AFIS
                      </label>
                    </div>
                  </div>
                    <div class="col-sm-5">
                      <label for="">Daily Hours Of Service:</label>
                      <input style="max-height: 28px; max-width: 70px;" type="number" min="0" class="form-control input-sm"
                      ng-model="u.hours_service1" placeholder="Hours" >
                    </div>
                </div>
                <!-- {{u.area}} -->
                <div ng-if="u.select_areas == 'FSS'">
                  <div class="col-sm-7 form-group">
                    <label for="">Air Traffic Service(s) To Be Provided :</label>
                    <div class="checkbox ">
                      <label>
                        <input type="checkbox" ng-model="u.ats_aprovided2" id="at2" value="1"> FSS
                      </label>
                    </div>
                  </div>
                    <div class="col-sm-5">
                      <label for="">Daily Hours Of Service:</label>
                      <input style="max-height: 28px; max-width: 70px;" type="number" min="0" class="form-control input-sm"
                        ng-model="u.hours_service1" placeholder="Hours" >
                    </div>
                </div>
              </form>

            </div>
            <div class="clearfix panel-footer">
              <button class="btn btn-success pull-right" ng-disabled="frmStep1.$invalid" step-next>
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </step>
        <step class="step2" name="second">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Section B: Operational Details To Be Provided To DCGA With Application</h3>
            </div>
            <div class="panel-body">
              <form name="frmStep2">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="">Names Of Officers If Company * :</label>
                    <input type="text" class="form-control" ng-required="true" ng-model="u.office_company"
                      placeholder="Name Officer" >
                  </div>
                  <div class="form-group">
                    <label for="">Registered Address * :</label>
                    <input type="text" class="form-control" ng-required="true" ng-model="u.registered_addres" placeholder="Registered Address"
                      >
                  </div>
                  <div class="form-group">
                    <label for="">Postal Address * :</label>
                    <input type="text" class="form-control" ng-required="true" ng-model="u.postal_addres" placeholder="Postal Code"
                    >
                  </div>
                  <div class="form-group">
                    <label for="">No Telepon * :</label>
                    <input type="text" class="form-control" ng-required="true" ng-model="u.no_telp" placeholder="Telephone"
                      >
                  </div>
                  <div class="form-group">
                    <label for="">NPWP * :</label>
                    <input type="text" class="form-control" ng-required="true" ng-model="u.npwp" placeholder="NPWP" required="true">
                  </div>
                  <div class="form-group">
                    <label for="">Commencement Date * :</label>
                    <input type="date" class="form-control" ng-required="true" ng-model="u.commencement_date" placeholder="mm/dd/yyyy"
                      date: "'dd/MM/yyyy'" >
                  </div>
                </div>
                <div class="col-sm-12 form-group">
                  <label for="">Organization Chart *:</label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-required="true" ng-model="u.organization_chart" value="1"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-required="true" ng-model="u.organization_chart" value="0"> No
                  </label>
                  <label class="radio-inline">Provided</label>

                </div>
                <div class="col-sm-12 form-group">
                  <label for="">Operation Manual * :</label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions2" ng-required="true" id="inlineRadio3" ng-model="u.operation_manual" value="1"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions2" ng-required="true" id="inlineRadio4" ng-model="u.operation_manual" value="0"> No
                  </label>
                  <label class="radio-inline">Provided</label>

                </div>
                <div class="col-sm-12 form-group">
                  <label for="">Are Facilities Installed And Operative ? * </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions3" ng-required="true" id="inlineRadio5" ng-model="u.facilities_installed" value="1"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions3" ng-required="true" id="inlineRadio6" ng-model="u.facilities_installed" value="0"> No
                  </label>

                </div>
                <div class="col-sm-12 form-group">
                  <label for="">Was Staff Been Engaged ? *</label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions4" ng-required="true" id="inlineRadio7" ng-model="u.staff_engaged" value="1"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions4" ng-required="true" id="inlineRadio8" ng-model="u.staff_engaged" value="0"> No
                  </label>

                </div>
                <div class="col-sm-12 form-group">
                  <label for="">Can Service Be Demonstrated ?</label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions5" id="inlineRadio9" ng-model="u.service_demonstrated" value="1"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions5" id="inlineRadio10" ng-model="u.service_demonstrated" value="0"> No
                  </label>

                </div>
                <div style="margin-bottom: 20px;" class="col-sm-12 form-group">
                  <label for="">Organization Hold CASR 172 Certificate * :</label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions6" ng-required="true" id="inlineRadio11" ng-model="u.organization_hold_casr172"
                      value="1"> Yes
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions6" ng-required="true" id="inlineRadio12" ng-model="u.organization_hold_casr172"
                      value="0"> No
                  </label>

                </div>
              </form>

              <div class="col-sm-12">
                <small style="margin-top: 40px; margin-bottom: 10px;">
                  <i>Documentary Evidence In Support Of All Matters In This Application May Be Requested {{frmStep2.$invalid}}
                  </i>
                </small>
              </div>
            </div>



            <div class="clearfix panel-footer">
              <button class="btn btn-danger pull-left" step-previous>
                <i class="glyphicon glyphicon-chevron-left"></i> Prev
              </button>
              <button class="btn btn-success pull-right" ng-disabled="frmStep2.$invalid" step-next>
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </step>
        <step class="step3" name="third">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Section C: List Of Non-Compliances With CASR 172</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                  <label for="exampleInputName">Reference</label>
                  <textarea class="form-control" rows="3" ng-model="u.reference" ></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleInputName">Details And Reason For Non-Compliance
                  </label>
                  <textarea class="form-control" rows="3" ng-model="u.detail_reason" ></textarea>
                </div>
            </div>
            <div class="clearfix panel-footer">
              <button class="btn btn-danger pull-left" step-previous>
                <i class="glyphicon glyphicon-chevron-left"></i> Prev
              </button>
              <button class="btn btn-success pull-right" step-next>
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </step>
        <step class="step4" name="fourth">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Section D: Declaration</h3>
            </div>
            <div class="panel-body">
              <form name="frmStep4">
                <div class="form-group">
                  <label for="">On Behalf Of * :</label>
                  <input type="text" class="form-control" ng-model="u.on_behalf_of" ng-required="true" placeholder="On Behalf Of"
                    required>
                </div>
                <div class="form-group">
                  <label for="">Signed * :</label>
                  <input type="text" class="form-control" ng-model="u.signed" ng-required="true" placeholder="Signed" >
                </div>
                <div class="form-group">
                  <label for="">My Authority To Act On Behalf Of The Applicant Is * :</label>
                  <input type="text" class="form-control" ng-model="u.authority" ng-required="true"
                    placeholder="Authority" >
                </div>
                <div class="form-group">
                  <label for="">Name Of Person Making The Declaration * :</label>
                  <input type="text" class="form-control" ng-model="u.name_of_person" ng-required="true"
                    placeholder="Name Of Person" >
                </div>
                <div class="form-group">
                  <label for="">E-mail * :</label>
                  <input type="email" class="form-control" ng-model="u.email" autocomplete="new-password" ng-required="true" placeholder="E-mail" >
                </div>
                <div class="form-group">
                  <label for="">Username * :</label>
                  <input type="text" class="form-control" ng-model="u.username" autocomplete="new-password" ng-required="true" placeholder="Username" >
                </div>
                <div class="form-group">
                  <label for="">Password * :</label>
                  <input type="password" class="form-control" ng-model="u.password" ng-required="true" autocomplete="new-password" placeholder="Password" >
                </div>
              </form>
            </div>
            <div class="clearfix panel-footer">
              <button class="btn btn-danger pull-left" step-previous>
                <i class="glyphicon glyphicon-chevron-left"></i> Prev
              </button>
              <button class="btn btn-success pull-right" ng-disabled="frmStep4.$invalid" ng-click="Registered(u)">
                Complete
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </step>
      </steps>
  </div>
<style>
  h1 label {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
  }

  h1 label:hover,
  h1 label:focus {
    color: #f44336;
    cursor: pointer;
  }

  .seksi {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: blue;
    text-align: center;
  }

  .ui-select-toggle a.btn-link {
    position: absolute;
    right: 0;
  }
</style>