<div class="container" ng-controller="LoginCtrl">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(0%, 0px, 0px);">
          <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
      </div>
        <div style="min-width: 700px;" id="login-box">
            
            <div class="logo">
                <img src="img/avatars/logo.png" style="max-width: 100px;" class="img img-responsive img-circle center-block"/>
                <h1 class="logo-caption">Form Registrasi</h1>
            </div><!-- /.logo -->
            <div class="controls">
                <span>Nama Lengkap : </span><input type="text" name="name" placeholder="Nama Lengkap"  ng-model="User.name_of_person"  />
                <span>Username : </span><input type="text" name="username" placeholder="Username"  ng-model="User.username"  />
                <span>Email : </span><input type="e-mail" name="email" placeholder="E-mail Anda" ng-model="User.email" />
                <span>No. Telepon : </span><input type="text" name="telpon" placeholder="Nomor Telepon" ng-model="User.no_telp" />
                <span>No. NPWP : </span><input type="text" name="npwp" placeholder="Nomor NPWP" ng-model="User.npwp" />
                <span>Alamat : </span><input type="text" name="address" placeholder="Alamat Anda" ng-model="User.registered_address" />
                <span>Password : </span><input type="text" name="password" placeholder="Password" ng-model="User.password" />
                <span>Lokasi Operasi : </span><input type="text" name="lokasi" placeholder="Lokasi Operasi" ng-model="User.location_operation" />
                <span>Nama Perusahaan : </span><input type="text" name="perusahaan" placeholder="Nama Perusahaan" ng-model="User.company_name" />
                <span>Kantor Perusahaan : </span><input type="text" name="kantor" placeholder="Kantor Perusahaan" ng-model="User.office_company" />
                <span>Authority : </span><input type="text" name="auth" placeholder="Authority" ng-model="User.authority" />
                <span>Commencement Date : </span><input type="date" name="comm" placeholder="Commencement Date" ng-model="User.commencement_date" />
                <span>Facilities Installed : </span><input type="text" name="facilities" placeholder="Facilities Installed" ng-model="User.facilities_installed" />
                <span>Atas Nama : </span><input type="text" name="behalf" placeholder="Atas Nama" ng-model="User.on_behalf_of" />
                <span>Manual Operasi : </span><input type="text" name="mo" placeholder="Manual Operasi" ng-model="User.operation_manual" />
                <span>Organization Chart : </span><input type="text" name="orchart" placeholder="Organization Chart" ng-model="User.organization_chart" />
                <span>Organization Hold CASR 172 : </span><input type="text" name="orchart" placeholder="Organization Chart" ng-model="User.organization_hold_casr172" />
                <span>Referensi : </span><input type="text" name="orchart" placeholder="Referensi" ng-model="User.reference" />
                <span>Service Demonstrated : </span><input type="text" name="orchart" placeholder="Service Demonstrated" ng-model="User.service_demonstrated" />
                <span>Keterikatan Staff : </span><input type="text" name="orchart" placeholder="Keterikatan Staff" ng-model="User.staff_engaged" />
                <span>Hours Service : </span><input type="number" value="1" name="hour" ng-model="User.hours_service" placeholder="Masukkan Angka"  /><br>
                <br><span>ATS Aprovided : </span><select  ng-model="user.selectedItem" value= "Get Row Index"  ng-change="updateData(selectedItem)" 
                ng-options="option.value for option in names">           
                </select>
                <span>Tipe Sertifikat : </span><select  ng-model="user.selectedItem3" value= "Get Row Index"  ng-change="updateData(selectedItem)" 
                ng-options="option.value for option in tipes">           
                </select>
                <span>Tipe Airport : </span><select  ng-model="user.selectedItem2" value= "Get Row Index"  ng-change="updateData(selectedItem)" 
                ng-options="option.value for option in airport">           
                </select>
                <br><br><button type="button" class="btn btn-default btn-block btn-custom" ng-click="ok(User)">SignUp</button>
                <br><button type="button" class="btn btn-default btn-block btn-custom" ng-click="cancel()">Close</button>
            </div><!-- /.controls -->
        </div><!-- /#login-box -->
    </div><!-- /.container -->
   
    <style>
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body, html {
  height: 100%;
  background-repeat: no-repeat;    /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
  background:black;
  position: relative;
  background-color: #2196F3;
}
#login-box {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  margin: 0 auto;
  border: 1px solid black;
  background: #465E84;
  min-height: 250px;
  padding: 20px;
  z-index: 9999;
}
#login-box .logo .logo-caption {
  font-family: 'Poiret One', cursive;
  color: white;
  text-align: center;
  margin-bottom: 0px;
}
#login-box .logo .tweak {
  color: #ff5252;
}
#login-box .controls {
  padding-top: 30px;
}
#login-box .controls input {
  width: 100%;
  border-radius: 0px;
  background: white;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  font-family: 'Nunito', sans-serif;
}
#login-box .controls span {
  color: white;
  font-family: 'Nunito', sans-serif;
}
#login-box .controls select {
  width: 10%;
  border-radius: 0px;
  background: white;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  color: black;
  font-family: 'Nunito', sans-serif;
}

#login-box .controls input:focus {
  box-shadow: none;
}
#login-box .controls input:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
#login-box .controls input:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#login-box button.btn-custom {
  border-radius: 2px;
  margin-top: 8px;
  background:#ff5252;
  border-color: rgba(48, 46, 45, 1);
  color: white;
  font-family: 'Nunito', sans-serif;
}
#login-box button.btn-custom:hover{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  background: rgba(48, 46, 45, 1);
  border-color: #ff5252;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0px;
    z-index:1;
}
    </style>