<div class="container">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(0%, 0px, 0px);">
          <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
      </div>
        <div style="min-width: 700px;" id="login-box">
            
            <div class="logo">
                <img src="img/avatars/logo.png" style="max-width: 100px;" class="img img-responsive img-circle center-block"/>
                <h1 class="logo-caption"><span class="tweak">S</span>ignup</h1>
            </div><!-- /.logo -->
            <div class="controls">
                <input type="text" name="username" placeholder="Username"  ng-model="User.nama" class="form-control" />
                <input type="e-mail" name="email" placeholder="E-mail" ng-model="User.email" class="form-control" />
                <input type="alamat" name="alamat" placeholder="Alamat" ng-model="User.alamat" class="form-control" />
                <input type="text" name="telpon" placeholder="No Telepon" ng-model="User.telp" class="form-control" />
                <input type="text" name="Kota" placeholder="Kota" ng-model="User.kota" class="form-control" />
                <input type="text" name="bandara" placeholder="Nama Bandara" ng-model="User.airport" class="form-control" /><br>
                <button type="button" class="btn btn-default btn-block btn-custom" ng-click="ok(kda)">SignUp</button>
                <button type="button" class="btn btn-default btn-block btn-custom" ng-click="cancel()">Close</button>

			</div><!-- /.controls -->
			
        </div><!-- /#login-box -->
	</div><!-- /.container -->
	
   
    <style>
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body, html {
	height: 100%;
	background-repeat: no-repeat;    /*background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
	background:black;
	position: relative;
  background-color: #2196F3;
}
#login-box {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 350px;
	margin: 0 auto;
	border: 1px solid black;
	background: rgba(48, 46, 45, 1);
	min-height: 250px;
	padding: 20px;
	z-index: 9999;
}
#login-box .logo .logo-caption {
	font-family: 'Poiret One', cursive;
	color: white;
	text-align: center;
	margin-bottom: 0px;
}
#login-box .logo .tweak {
	color: #ff5252;
}
#login-box .controls {
	padding-top: 30px;
}
#login-box .controls input {
	border-radius: 0px;
	background: white;
	border: 0px;
	border-radius: 30px;
	padding: 20px;
	margin-top: 5px;
	color: black;
	font-family: 'Nunito', sans-serif;
}
#login-box .controls input:focus {
	box-shadow: none;
}
#login-box .controls input:first-child {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#login-box .controls input:last-child {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
#login-box button.btn-custom {
	border-radius: 2px;
	margin-top: 8px;
	background:#ff5252;
	border-color: rgba(48, 46, 45, 1);
	color: white;
	font-family: 'Nunito', sans-serif;
}
#login-box button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: #ff5252;
}
#particles-js{
  	width: 100%;
  	height: 100%;
  	background-size: cover;
  	background-position: 50% 50%;
  	position: fixed;
  	top: 0px;
  	z-index:1;
}
    </style>