<!-- MAIN CONTENT -->
<div id="content" ng-controller="MUserCtrl">
    <!-- row -->
    <div class="row">

       <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-greenDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-list-alt"></i> Manajemen User
            </h1>
        </div>
        <!-- end col -->
                                                                            
    </div>
    <!-- end row -->
                                    
    <!--
    The ID "widget-grid" will start to initialize all widgets below 
    You do not need to use widgets if you dont want to. Simply remove 
    the <section></section> and you can use wells or panels instead 
    -->
                                    
    <!-- widget grid -->
    <section id="widget-grid" class="">
                    
    <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <!-- <div class="jarviswidget" id="wid-id-11" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false"> -->
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    
                    <!-- widget div-->
                    <!-- <div class="no-padding"> -->
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <!-- end widget edit box -->
                    
                        <div class="widget-body">
                            <!-- content -->
                            <div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

                                <header role="heading">
                                  <div class="jarviswidget-ctrls" role="menu">
                              
                                 </div>
                                   <span class="widget-icon"><i class="fa fa-user"></i></span>
                                  <h2><strong>Daftar User Admin</strong></h2>
                                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                              
                                <div class="jarviswidget-ctrls" role="menu">
                                  <a href="javascript:void(0);" ng-click="openModalTambah()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Create Data">
                                    <i class="fa fa-plus "></i> Tambah User
                                  </a>
                                </div>
                              </header>
                                <!-- widget div-->
                                <div role="content">
                                  <!-- widget edit box -->
                                  <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                                    <input class="form-control" type="text">
                                    <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                                  </div>
                                  <!-- end widget edit box -->
                              
                                  <!-- widget content -->
                                  <div class="widget-body no-padding" >
                                    <div class="widget-body-toolbar">
                                      <div class="row">
                                        <div class="col-xs-3">
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="table-responsive">
                                      <table class="table table-striped table-bordered">
                                        <thead>
                                          <tr>
                                            <th>Kode User</th>
                                            <th>Nama Lengkap</th>
                                            <th>E-Mail</th>
                                            <th>Telp. Kantor</th>
                                            <th>Handphone </th>
                                            <th>Alamat</th>
                                            <th>Last-Login</th>
                                            <th>Status</th>
                                            <th class="text-center">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="p in filterData = (list_user | filter : search) | limitTo:5:5*(page-1)" ng-show="list_user.length > 0">
                                            <td>{{p.kode_user}}</td>
                                            <td>{{p.nama}}</td>
                                            <td>{{p.email}}</td>
                                            <td>{{p.telp_kantor}}</td>
                                            <td>{{p.hp}}</td>
                                            <td>{{p.alamat}}</td>
                                            <td>{{p.last_login}}</td>
                                            <td class="text-center">
                                             <span class="label" ng-class="{'label-success': p.status == 1, 'label-danger': p.status == 0}">{{p.status == 1 ? 'Active' : 'Inactive'}}</span>
                                            </td>
                                            <!-- <td ng-if="p.status==0">
                                              <span class="label label-danger"><i class="glyphicon glyphicon-remove"></i>Not Active</span>
                                            </td> -->
                                              <td class="text-center">
                                                <!-- <button type="button" ng-click="openModalEdit(p)" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></button> -->
                                                <ul class="demo-btns">
                                                  <li><button rel="tooltip" title="Edit" ng-click="openModalEdit(p)" class="btn btn-xs btn-default"><i class="fa fa-fw fa-edit txt-color-green"></i></button></li>
                                                </ul>
                                              </td>
                                          </tr>
                                          <tr ng-show="list_user.length == 0">
                                            <td colspan="9" class="text-center">No result</td>
                                          </tr>
                                        </tbody>
                                      </table>
                              
                                    </div>
                              
                                  </div>
                              
                                  <!-- end widget content -->
                                </div>
                                <div uib-pagination style="padding-bottom: 10px;" class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                              ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></div>
                                <!-- end widget div -->
                              </div>
                            <!-- end content -->

                        </div>
                    
                    <!-- </div> -->
                    <!-- end widget div -->
               
                <!-- </div> -->
                <!-- end widget -->

            </article>

        </div>
        <!-- end row -->
                                        
    </section>

</div>