<div id="content" style="padding:10px">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-list"></i>
                        </span>
                        <h2>{{us.kode_user ? 'Edit User (' + us.kode_user + ')' : 'Tambah User'}}</h2>
                    </header>
                    <div>
                        <div role="content">
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                        <!-- <div class="form-group">
                                            <label class="control-label"><strong>Kode User</strong></label>
                                            <input type="text" ng-model="us.kode_user" class="form-control" placeholder="Nama Lengkap" />
                                        </div> -->
                                    <form name="frmAdd">
                                        <div class="form-group">
                                            <label class="control-label"><strong>Nama Lengkap *</strong></label>
                                            <input type="text" ng-model="us.nama" class="form-control" placeholder="Nama Lengkap" required />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>E-mail *</strong></label>
                                            <input type="email" ng-model="us.email" class="form-control" placeholder="E-Mail@exam.com" required/>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label"><strong>Password *</strong></label>
                                            <input type="password" ng-model="us.pass" class="form-control" placeholder="Password" required />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>Alamat</strong></label>
                                            <input type="text" ng-model="us.alamat" class="form-control" placeholder="Alamat" />
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Airport * :</label>
                                            <select ui-select2="{ allowClear: true}" ng-model="us.airport" data-placeholer="Choose a Airport" ng-required="true" style="width: 100%;">
                                                <option value=""></option>
                                                <option ng-repeat="item in airportList" value="{{item}}">{{item.airport_type}} - {{item.airport_name}}</option>
                                            </select>
                                            </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>No. Telpon Kantor</strong></label>
                                            <input type="text" ng-model="us.telp_kantor" class="form-control" placeholder="No Telpon Kantor" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>No. Telpon Rumah</strong></label>
                                            <input type="text" ng-model="us.telp_rumah" class="form-control" placeholder="No Telpon Rumah" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>No. Handphone</strong></label>
                                            <input type="text" ng-model="us.hp" class="form-control" placeholder="No. Handphone" />
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>Peran *</strong></label>
                                            <select class="form-control" ng-model="us.tipe_user.kode_tipe_user" ng-required="true" ng-options="item.value as item.name for item in roles">
                                                <option value="">--- Pilih Peran ---</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label"><strong>Status *</strong></label>
                                            <select class="form-control" ng-model="us.status" ng-required="true" ng-options="item.value as item.name for item in status">
                                                <option value="">--- Pilih Status ---</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="cancel()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-disabled="frmAdd.$invalid" ng-click="saveUser(us)" type="button">
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <style>
        .scrollable {
            display:block;
            max-height:150px;
            overflow-y:scroll;
        }
    </style>
