

    <div id="content" style="padding:10px">
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">

                        <div role="content">
                            <div class="row clearfix">

                                        <div class="col-sm-12">

        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>

        <!-- widget div-->
        <div role="content">

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body no-padding">

            <form action="" id="review-form" class="smart-form" novalidate="novalidate">
              <header>
                Edit User ({{u.kode_user}})
              </header>

              <fieldset>



                <section>
                  <label class="input"> <i class="icon-append fa fa-tag"></i>
                    <input ng-model="u.nama"  placeholder="Nama Lengkap" type="text">
                  </label>
                </section>

                <section>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input ng-model="u.pass"  placeholder="Password" type="password">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-plane"></i>
                    <input ng-model="u.telp_kantor"  placeholder="Tlp.Kantor" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-road"></i>
                    <input ng-model="u.hp"  placeholder="Handpone" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-road"></i>
                    <textarea ng-model="u.alamat"  placeholder="Alamat" style="width:100%"></textarea>
                  </label>
                </section>
                   <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="cancel()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="ok(u)" type="button">
                                Update
                            </button>
                        </div>

              </fieldset>

            </form>

          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->





                                    </div>
                        </div>


                    </div>
                </div>
            </article>

        </div>

    </div>
