
<article class="col-sm-12 col-md-12 col-lg-6 sortable-grid ui-sortable" >

			<div class="jarviswidget jarviswidget-color-blueDark jarviswidget-sortable" id="wid-id-4" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
				<header role="heading" class="ui-sortable-handle">
          <div class="jarviswidget-ctrls" role="menu">
                <a href="javascript:void(0);" ng-click="closeModalDocDetail(12,'')" class="button-icon jarviswidget-delete-btn"
                rel="tooltip" title="" data-placement="bottom" data-original-title="Delete">
                  <i class="fa fa-times"></i></a></div>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Approve Or Reject</h2>

				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form action="" class="smart-form">
							<header>
								PQ.Number {{data1.pq_number}} - Status : {{status_approved}}
							</header>

							<fieldset>

								<section>
									<label class="label">Catatan Admin</label>
									<label class="input"> <i class="icon-prepend fa fa-question-circle"></i>
										<input type="text" placeholder="Focus to view the tooltip" ng-model="data1.remaks">
										<b class="tooltip tooltip-top-left">
											<i class="fa fa-warning txt-color-teal"></i>
											berikan catatan di sini</b>
									</label>
								</section>
							</fieldset>

						</form>

					</div>
					<!-- end widget content -->
          <footer class="modal-footer text-center">
								<button type="submit" class="btn btn-primary"  ng-click="closeModalDocDetail(1,data1)">
									Approve
								</button>
								<button type="button" class="btn btn-danger" ng-click="closeModalDocDetail(2,data1)">
									Reject
								</button>
					</footer>

				</div>
				<!-- end widget div -->

			</div>
			<!-- end widget -->

		</article>
