<style>
.fa-ban {
  color: #FF0040;
}
.fa-check {
  color: #40FF00;
}
.fa-list {
  color: #E0F8EC;
}

</style>
  <article>
  <div class="jarviswidget-editbox"></div>
  <div class="widget-body"  ng-controller="AtcCtrl">
      <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
          <header role="heading">
              <span class="widget-icon"><i class="fa fa-plane"></i></span>
                <h2><strong>{{title}}</strong></h2>
                <div class="jarviswidget-ctrls" role="menu">
                  <a href="javascript:void(0);" ng-click="getBy('ATC',1)" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Approve">
                   <u>Waiting List</u>&nbsp<i class="fa fa-tasks"></i></a>
                   <a href="javascript:void(0);" ng-click="getBy('ATC',111)" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Approve">
                    <u>Approved</u>&nbsp<i class="fa fa-check "></i></a>
                    <a href="javascript:void(0);" ng-click="getBy('ATC',-1)" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Reject">
                      <u>rejected</u>&nbsp<i class="fa fa-ban "></i></a>
                </div>
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
          </header>
  <div id="content">
    <div class="col-md-5 ">
      <div class="well">
          <div class="input-group">
              <input class="form-control" type="text" ng-model="test" placeholder="Search...">
              <div class="input-group-btn">
                <button class="btn btn-default btn-primary" type="button">
                  <i class="fa fa-search"></i> Search
                </button>
              </div>
          </div>
        </div>
        <div  class="body table-responsive">
          <table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
            <thead>
              <tr>
                  <th><b>Airport</b></th>
                  <th><b>Island</b></th>
                  <th><b>City</b></th>
                  <th><b>Persone Name</b></th>
                  <th><b>No.Telephone</b></th>
                  <th>Detail</th>

                </tr>
              </thead>
                <tr ng-repeat="l in list_p | filter : test" value="Get Row Index">
                  <td><b>{{l.user.airport.airport_name}}</b></td>
                  <td><b>{{l.user.airport.island}} </b></td>
                  <td><b>{{l.user.airport.city}}</b></td>
                  <td><b>{{l.user.nama}}</b></td>
                  <td><b>{{l.user.hp}}</b></td>
                  <td><button ng-click="showDetail(l)"  type="button" class="waves-effect btn btn-primary">  <i class="fa fa-search"></i></button></td>
                </tr>
            </table>
          </div>
        </div>

        <div class="col-md-7" ng-show="AfisDetail.length > 0">
          <div class="jarviswidget jarviswidget-color-pink jarviswidget-sortable" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

						<header role="heading">
              <div class="jarviswidget-ctrls" role="menu">

             </div>
							<h2><strong>{{header2}}</strong></h2>
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
          </header>
						<!-- widget div-->
						<div role="content">
							<!-- widget edit box -->
							<!-- end widget edit box -->

							<!-- widget content -->
							<div class="widget-body no-padding">
								<div class="widget-body-toolbar color-pink">
									<div class="row">
										<div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
										</div>
										<div ng-show="mode==0" class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
											<button class="btn btn-success" ng-click="SubmitProg(AfisDetail)">
												<i class="fa fa-send"></i> <span class="hidden-check">Submit</span>
											</button>
										</div>
									</div>
								</div>
                <form class="smart-form">
                <fieldset>
  										<section>
  											<div class="row">
  												<div class="col col-10">
  													<label class="checkbox" >1&nbsp&nbsp.&nbsp Acknowledggment of application within 7 days</label>
                            <hr>
  													<label class="checkbox">2&nbsp&nbsp.&nbsp Face-to-Face Meeting</label>
                            <hr>
  													<label class="checkbox">3&nbsp&nbsp.&nbsp Operations Manual provided by applicant</label>
                            <hr>
                            <label class="checkbox">4&nbsp&nbsp.&nbsp  Application Chechked for Compieteness</label>
                            <hr>
                            <label class="checkbox">5&nbsp&nbsp.&nbsp  Documentation assessed against CASR Part 172 and AC 172</label>
                            <hr>
                            <label class="checkbox">6&nbsp&nbsp.&nbsp Demonstration of service required/no required and provided/not provided by applicant</label>
                            <hr>
                            <label class="checkbox">7&nbsp&nbsp.&nbsp Applicant assessed as being able to provide a service</label>
                            <hr>
                            <label class="checkbox">8&nbsp&nbsp.&nbsp Application granted/declined</label>
                            <hr>
                            <label class="checkbox">9&nbsp&nbsp.&nbsp Certification advised of outcome</label>
                            <hr>
                            <label class="checkbox">10&nbsp.&nbsp Certificated Issue</label>
                            <hr>
                            <label class="checkbox">11&nbsp.&nbsp Operations Manual acknowledged and returned</label>
                            <hr>

  												</div>
  												<div class="col col-2">
  													<label class="checkbox">
  														<input type="checkbox" name="checkbox" ng-model="steps[10].checked"  ng-click="switchStep(steps[10].checked,'1')">
  														<i></i>.</label>
                              <hr>
  													<label class="checkbox">
  														<input type="checkbox" class="checkbox style-3"  ng-model="item.selected" ng-change="detailAtc(item.selected)" name="checkbox">
  														<i></i>detail</label>
                              <hr>
  													<label class="checkbox">
  														<input type="checkbox" name="checkbox"ng-model="steps[8].checked" ng-click="switchStep(steps[8].checked,'3')">
  														<i></i>.</label>
                              <hr>
                              <label class="checkbox">
    														<input type="checkbox" name="checkbox" ng-model="steps[7].checked" ng-click="switchStep(steps[7].checked,'4')">
    														<i></i></label>
                                <hr>
    													<label class="checkbox">
    														<input type="checkbox" name="checkbox" ng-model="steps[6].checked" ng-click="switchStep(steps[6].checked,'5')">
    														<i></i>.</label>
                                <hr>
    													<label class="checkbox">
    														<input type="checkbox" name="checkbox" ng-model="steps[5].checked" ng-click="switchStep(steps[5].checked,'6')">
    														<i></i>.</label>
                                <hr>
                                <label class="checkbox">
      														<input type="checkbox" name="checkbox" ng-model="steps[4].checked" ng-click="switchStep(steps[4].checked,'7')">
      														<i></i>.</label>
                                  <hr>
      													<label class="checkbox">
      														<input type="checkbox" name="checkbox" ng-model="steps[3].checked" ng-click="switchStep(steps[3].checked,'8')">
      														<i></i>.</label>
                                  <hr>
      													<label class="checkbox">
      														<input type="checkbox" name="checkbox" ng-model="steps[2].checked" ng-click="switchStep(steps[5].checked,'9')">
      														<i></i>.</label>
                                  <hr>
                                  <label class="checkbox">
        														<input type="checkbox" name="checkbox" ng-model="steps[1].checked" ng-click="switchStep(steps[1].checked,'10')">
        														<i></i>.</label>
                                    <hr>
        													<label class="checkbox">
        														<input type="checkbox" name="checkbox" ng-model="steps[0].checked" ng-click="switchStep(steps[0].checked,'11')">
        														<i></i>.</label>
                                    <hr>
        													
  												</div>
  											</div>
  										</section>
  									</fieldset>
                  </form>
								</div>

							</div>

							<!-- end widget content -->
						</div>

						<!-- end widget div -->
					</div>
         </div>
    </div>
</div>
</div>
</article>
