<div class="row">
<article class="container col-sm-12">
<div class="jarviswidget-editbox"></div>
<div class="widget-body">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
        <header role="heading">
            <span class="widget-icon"><i class="fa fa-table"></i></span>
              <h2><strong>Detail Protocol Question {{header}}</strong></h2>
              <div class="jarviswidget-ctrls" role="menu">
                 <a href="javascript:void(0);" ng-click="closeModalDocDetail()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Create Data">
                    <i class="fa fa-times "></i></a>

              </div>

              <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
        </div>
         <div class="body table table-responsive">
           <table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
             <thead>
             <tr>
               <th>No.Detail</th>
               <th>Pertanyaan</th>
               <th>Sudah Sesuai ?</th>
               <th>Lampiran</th>
               <th>Catatan</th>
                <th>Action</th>
             </tr>
           </thead>
             <tr ng-repeat="user in  filterData = (AfisDetailBy | filter : search) | limitTo:3:3*(page-1)" value="Get Row Index">
               <td> {{user.detail_pq.kode_detail_pq}}</td>
               <td>{{user.detail_pq.detail_pq}} </td>
               <td><b>{{translate(user.status_detail_pq)}}</b>
               </td>
               <td><button class="waves-effect btn btn-danger" ng-click="openSPDA_ModalDetail(user.detail_pq.kode_detail_pq,user.airport_id)"><i class="fa fa-files-o"></i></button></td>

               <td>{{user.remarks}}</td>
               <td><button class="waves-effect btn btn-danger" ng-click="OpenActionDetail(user)"><i class="fa fa-send"></i></button></td>

             </tr>
         </table>
         <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
 ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></div>
         <!-- end widget div -->
       </div>
         <footer class="modal-footer text-center">
               <button type="submit" class="btn btn-primary"  ng-click="closeModalDocDetail(1,data1)">
                 CLose
               </button>
         </footer>
        </div>
    </div>
  </div>
</article>
</div>
