<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

  <header role="heading">
    <div class="jarviswidget-ctrls" role="menu">

   </div>
    <marquee scrolldelay="500" behavior="alternate"><h2><strong>{{header2}}</strong></h2></marquee>
  <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
  <!-- widget div-->
  <div role="content">
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->
      <input class="form-control" type="text">
      <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding">
      <div class="widget-body-toolbar">
        <div class="row">
          <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
            </div>
          </div>
          <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
            <button class="btn btn-warning" ng-click="closeModalDocDetail()">
              <i class="fa fa-close"></i> <span class="hidden-check">CLOSE</span>
            </button>
          </div>
        </div>
      </div>
      <div class="custom-scroll table-responsive" style="height:290px; overflow-y: scroll;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No.Protocol</th>
              <th>Protocol Question</th>
              <th>Doc.ref</th>
              <th>status</th>
              <th>Catatan</th>
              <th>File</th>
              <th>Detail</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in filterData = (AfisDetail | filter : search) | limitTo:4:4*(page-1)">
              <td>{{p.pq.pq_number}}</td>
              <td>{{p.pq.protocol_question}}</td>
              <td>{{p.pq.doc_refrence}}</td>
              <td>{{p.status_pq}}</td>
              <td>{{p.remarks}}</td>
              <td><button type="button" ng-click="openSPDA_Modal(p)" class="waves-effect btn btn-danger"><i class="fa fa-folder"></i></button></td>
              <td><button type="button" ng-click="openDetailBy(p)" class="waves-effect btn btn-primary"><i class="fa fa-eye"></i></button></td>

              <td>
                <button type="button" ng-click="OpenAction(p)" class="waves-effect btn btn-success"><i class="fa fa-eye"></i></button>
                </td>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <!-- end widget content -->
  </div>
  <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4></div>
  <!-- end widget div -->
</div>
