    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="closeModalDocDetail()" aria-hidden="true">
            ×
        </button>
        <h4 class="modal-title"><i class="fa fa-files-o"></i>Detail Data Lampiran{{headerModal.noProtocol}}</h4>
    </div>
    <div class="modal-body no-padding smart-form">
      <div class="custom-scroll table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>No</th>
              <th>Nama.Doc <i class="fa fa-clipboard"></i></th>
              <th>Link<i class="fa fa-link"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in AfisDetailDoc" value="Get Row Index">
              <td>{{$index+1}}</td>
              <td>{{p.pq_number}}</td>
              <td><a href ="">{{p.link_lampiran}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeModalDocDetail()" data-dismiss="modal">
        Close
    </button>
</div>
