<ul>
        <li ui-sref-active="active">
            <a href="javascript:;"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent font-sm">Master Data</span></a>
            <ul>
                <li>
                    <a href="javascript:;"><i class="fa fa-map-marker"></i> Alamat</a>
                </li>
                <li>
                        <a href="javascript:;"><i class="fa fa-map-marker"></i> Alamat</a>
                    </li>
             </ul>
        </li>
 
    </ul>