<ul>
                <li ui-sref-active="active">
                    <a ui-sref="main.dashboard">
                            <i class="fa fa-lg fa-fw fa-home"></i>
                            <span class="menu-item-parent font-sm">Dashboard</span>
                        </a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent font-sm">Master Data</span></a>
                    <ul>
                        <li>
                            <a href="javascript:;"><i class="fa fa-map-marker"></i> Alamat</a>
                            <ul>
                                <li>
                                    <a ui-sref="main.masterprovinsi"><i class="fa fa-tags"></i> Provinsi</a>
                                </li>
                                <li>
                                    <a ui-sref="main.masterkota"><i class="fa fa-tags"></i> Kota</a>
                                </li>
                                <li>
                                    <a ui-sref="main.masterkecamatan"><i class="fa fa-tags"></i> Kecamatan</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="fa fa-building"></i> Perusahaan</a>
                            <ul>
                                <li>
                                    <a ui-sref="main.masterorgperusahaan"><i class="fa fa-tags"></i> Organisasi Perusahaan</a>
                                </li>
                                <li>
                                    <a ui-sref="main.mastertipeperusahaan"><i class="fa fa-tags"></i> Tipe Perusahaan</a>
                                </li>
                                <li>
                                    <a ui-sref="main.masterjenisperusahaan"><i class="fa fa-tags"></i> Jenis Perusahaan</a>
                                </li>
                                <li>
                                    <a ui-sref="main.masterdokumenperusahaan"><i class="fa fa-tags"></i> Dokumen Perusahaan</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><i class="fa fa-cube"></i> Bidang Usaha</a>
                            <ul>
                                <li>
                                    <a ui-sref="main.masterbidusaha"><i class="fa fa-tags"></i> Bidang Usaha</a>
                                </li>
                                <li>
                                    <a ui-sref="main.masterbidusahadetail"><i class="fa fa-tags"></i> Bidang Usaha Detail</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ui-sref="main.masterjabatan"><i class="fa fa-briefcase"></i> Jabatan</a>
                        </li>
                        <li>
                            <a ui-sref="main.masterkurs"><i class="fa fa-money"></i> Mata Uang</a>
                        </li>
                        <li>
                            <a ui-sref="main.mastersatuan"><i class="fa fa-adn"></i> Satuan</a>
                        </li>
                        <li>
                            <a ui-sref="main.masterkriteria"><i class="fa fa-slack"></i> Kriteria Penilaian</a>
                        </li>
                        <li>
                            <a ui-sref="main.mastertahapanlelang"><i class="fa fa-random"></i> Tahapan Lelang</a>
                        </li>
                        <li>
                            <a ui-sref="main.mastercakupanwilayah"><i class="fa fa-bullseye"></i> Cakupan Wilayah</a>
                        </li>
                        <li>
                            <a ui-sref="main.masterkualifikasiperusahaan"><i class="fa fa-bullhorn"></i> Kualifikasi Perusahaan</a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent font-sm">Vendor</span></a>
                    <ul>
                        <li>
                            <a ui-sref="main.vendorneedapproval"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent font-sm">Need Approval</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.vendoractive"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent font-sm">Vendor Active</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.vendorinactive"><i class="fa fa-lg fa-fw fa-warning"></i> <span class="menu-item-parent font-sm">Vendor Inactive</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.vendorrejected"><i class="fa fa-lg fa-fw fa-trash-o"></i> <span class="menu-item-parent font-sm">Rejected</span></a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent font-sm">Budget</span></a>
                    <ul>
                        <li>
                            <a ui-sref="main.budgetitemanggaran"><i class="fa fa-lg fa-fw fa-list"></i> <span class="menu-item-parent font-sm">Budget Item</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.budgetpermintaanpesanan"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent font-sm">Purchase Request</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.budgetrencanapengadaan"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent font-sm">Procurement plan</span></a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;"><i class="fa fa-lg fa-fw fa-gavel"></i> <span class="menu-item-parent font-sm">Tender</span></a>
                    <ul>
                        <li>
                            <a ui-sref="main.tenderpengumuman"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent font-sm text-align-left">Announcement</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tenderkualifikasi"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent font-sm text-align-left">Qualification</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tenderaanwijzing"><i class="fa fa-lg fa-fw fa-weixin"></i> <span class="menu-item-parent font-sm text-align-left">Aanwijzing</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tenderbidding"><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent font-sm text-align-left">Bidding</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tenderauction"><i class="fa fa-lg fa-fw fa-reorder"></i> <span class="menu-item-parent font-sm text-align-left">Auction</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tendernominate"><i class="fa fa-lg fa-fw fa-mortar-board"></i> <span class="menu-item-parent font-sm text-align-left">Nomination</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tenderclarification"><i class="fa fa-lg fa-fw fa-sort-numeric-desc"></i> <span class="menu-item-parent font-sm text-align-left">Clarification & Negotiation</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tenderanalyse"><i class="fa fa-lg fa-fw fa-bar-chart"></i> <span class="menu-item-parent font-sm text-align-left">Compare Analyze</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.tendergainer"><i class="fa fa-lg fa-fw fa-child"></i> <span class="menu-item-parent font-sm text-align-left">Vendor Selection</span></a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent font-sm">Contract</span></a>
                    <ul>
                        <li>
                            <a ui-sref="main.contractspb"><i class="fa fa-lg fa-fw fa-files-o"></i> <span class="menu-item-parent font-sm">PO</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.contractspk"><i class="fa fa-lg fa-fw fa-files-o"></i> <span class="menu-item-parent font-sm">SPK</span></a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="main.evaluation"><i class="fa fa-lg fa-fw fa-calendar-check-o"></i> <span class="menu-item-parent font-sm">Evaluation</span></a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent font-sm">Laporan</span></a>
                </li>
                <li ui-sref-active="active">
                    <a href="javascript:;"><i class="fa fa-lg fa-fw fa-gears"></i> <span class="menu-item-parent font-sm">Settings</span></a>
                    <ul>
                        <li>
                            <a ui-sref="main.settingmenu"><i class="fa fa-lg fa-fw fa-cubes"></i> <span class="menu-item-parent font-sm">Setting Menu</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.settinguser"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent font-sm">Setting User</span></a>
                        </li>
                        <li>
                            <a ui-sref="main.settinguserrole"><i class="fa fa-lg fa-fw fa-user-md"></i> <span class="menu-item-parent font-sm">Setting User Role</span></a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="main.pengumuman_lelang_vendor"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent font-sm">Pengumuman</span></a>
                </li>	
                <li ui-sref-active="active" >
                    <a ui-sref="main.kualifikasi_vendor"><i class="fa fa-lg fa-fw fa-file"></i> <span class="menu-item-parent font-sm">Kualifikasi</span></a>
                </li>	
                <li ui-sref-active="active">
                    <a ui-sref="main.aanwijzing_vendor"><i class="fa fa-lg fa-fw fa-weixin"></i> <span class="menu-item-parent font-sm">Aanwijzing</span></a>
                </li>	
                <li ui-sref-active="active">
                    <a ui-sref="main.bidding_vendor"><i class="fa fa-lg fa-fw fa-money"></i> <span class="menu-item-parent font-sm">Bidding</span></a>
                </li>	
                <li ui-sref-active="active">
                    <a ui-sref="main.auction_vendor"><i class="fa fa-lg fa-fw fa-reorder"></i> <span class="menu-item-parent font-sm">Auction</span></a>
                </li>		
            </ul>