<div style="max-width: 80%;margin: 0px auto;" class="row">
<article class="col-sm-12">
<div class="jarviswidget-editbox"></div>
<div class="widget-body"  ng-controller="CapCtrl" data-ng-init="capInit()">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
<br>
        <header role="heading">
            <span class="widget-icon"><i class="fa fa-plane"></i></span>
              <h2><strong>Correction Accept Plan</strong></h2>
              <div class="jarviswidget-ctrls" role="menu">
                  <a href="javascript:void(0);" ng-click="SubmitCap()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Submit CAP">
                    <u>SUBMIT</u>&nbsp<i class="fa fa-plane "></i></a>
              </div>
              <span class="jarviswidget-loader"><i class="fa fa-refresh fa-plane"></i></span>
        </header>


         <div   class="body">
          <span style="margin-bottom: 20px;" class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" ng-model="search" id="prepend" placeholder="Filter" type="text">
                      </div>
                    </span><br>

           <table  class="table table-bordered table-hover table-responsive">

             <thead>
             <tr>
               <th>PQ Number</th>
               <th>Protocol Question</th>
               <th>Action</th>
             </tr>
           </thead>
             <tr ng-repeat="user in filterData = (users | filter : search) | limitTo:5:5*(page-1)" value="Get Row Index" style="background:{{cekRow(user)}};">
               <td> {{user.pq_number}}</td>
               <td>{{user.pq.protocol_question}} </td>
               <td><button class="waves-effect btn btn-primary"  ng-click="openModal(user)"><i class="fa fa-check-circle">&nbspLengkapi</i></button> </td>

             </tr>

         </table>
         <ul style="margin-bottom: 20px;" uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
      ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></ul>
        </div>

    </div>
  </div>
</article>
</div>
