<div id="content" style="padding:10px">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">
                <div>
                    <div role="content">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <!-- widget div-->
                                <div role="content">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form action="" id="review-form" class="smart-form" novalidate="novalidate">
                                            <div class="jarviswidget-ctrls" role="menu">
                                                <a href="javascript:void(0);" ng-click="close()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom"
                                                    data-original-title="Delete">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                            <fieldset>
                                                <fieldset style="background: mediumturquoise">
                                                    <legend>
                                                        <b>Data Pengajuan Sebelum nya. </b>
                                                    </legend>
                                                    <div>
                                                        <b>Satus : {{child.before_status}}</b>
                                                    </div>
                                                    <div>
                                                        <b>Catatan Pengaju : {{child.before_remarks}}</b>
                                                    </div>
                                                    <div>
                                                        <b> Document pendukung :</b>
                                                        <ull ng-repeat="pr in child.before_file">
                                                            <li>
                                                                <a href="{{urlGet}}/{{pr.path_file}}" target="_blank">{{pr.link_lampiran}}</a>
                                                            </li>

                                                            </ul>
                                                    </div>
                                                    <br>
                                                </fieldset>
                                                <section>

                                                </section>
                                                <section style="background: orange">
                                                    <legend>
                                                        <b>Alasan Di Reject:</b>

                                                        <b>{{child.before_remarks_admin}}</b>
                                                    </legend>
                                                </section>
                                                <br>
                                            </fieldset>
                                        </form>
                                        <div style="margin-bottom: 15px;" class="col-sm-12 col-md-12 table-responsive">
                                            <div class="row">
                                                <form action="" id="review-form" class="smart-form" novalidate="novalidate">
                                                    <header>
                                                        <b>Detail Correction Accept Plan
                                                            <b>
                                                    </header>
                                                    <fieldset>
                                                        <section>
                                                            Compelation Date :
                                                            <label class="input">
                                                                <i class="icon-append fa fa-calendar"></i>
                                                                <input ng-model="child.cap_compelation_date" name="finishdate" id="finishdate" placeholder="Compelation Date" class="hasDatepicker"
                                                                    type="date">
                                                            </label>
                                                        </section>
                                                        <section>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-user"></i>
                                                                <input ng-model="child.cap_action_office" name="pq_number" id="pq_number" placeholder="Action Office" type="text">
                                                            </label>
                                                        </section>

                                                        <section>
                                                            <label class="input">
                                                                <i class="icon-append fa fa-info"></i>
                                                                <input ng-model="child.cap_proposed_action" name="refrence" id="refrence" placeholder="Propose Action" type="text">
                                                            </label>
                                                        </section>

                                                        <section>
                                                            <label class="label"></label>
                                                            <label class="textarea">
                                                                <i class="icon-append fa fa-comment"></i>
                                                                <textarea ng-model="child.cap_evidance_reference" rows="3" name="pq" id="pq" placeholder="Evidence Reference"></textarea>
                                                            </label>
                                                        </section>
                                                        <section>
                                                            Document pendukung :
                                                            <label class="label"></label>
                                                            <label class="textarea">
                                                                <i class="icon-append fa fa-file"></i>
                                                                <input type="file" ng-model="file" multiple accept=".pdf" onchange="angular.element(this).scope().updateDataLampiranChild(this.files)"
                                                                />
                                                                </td>
                                                            </label>
                                                        </section>
                                                        <section>
                                                            <ull ng-repeat="parent in child.cap_file">
                                                                <li>
                                                                    <a href="{{urlGet}}/{{parent.path_file}}" target="_blank">{{parent.link_lampiran}}</a>
                                                                </li>

                                                                </ul>
                                                        </section>

                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <button class="btn btn-sm btn-danger" ng-click="close()" type="button">Batal</button>
                                                <button class="btn btn-sm btn-primary" ng-click="oke(child)" type="button">Kirims</button>
                                            </div>

                                        </div>
                                        <!-- end widget content -->
                                    </div>
                                    <!-- end widget div -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </article>
        </div>
    </div>
    <style>
        .scrollable {
            display: block;
            max-height: 150px;
            overflow-y: scroll;
        }
    </style>