<div class="row">
<article class="col-sm-12">
<div class="jarviswidget-editbox"></div>
<div class="widget-body" ng-controller="PertanyaanTempCtrl" data-ng-init="check()">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
        <header role="heading">
            <span class="widget-icon"><i class="fa fa-table"></i></span>
              <h2><strong>PROTOCOL QUESTION SERTIFIKASI PENYELENGGARA PELAYANAN LALU LINTAS PENERBANGAN</strong></h2>
              <div class="jarviswidget-ctrls" role="menu">
                  <a href="javascript:void(0);" ng-click="submitToadmin()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Upload Data">
                    <i class="fa fa-upload "></i>&nbspupload</a>
              </div>
              <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
         <div  class="body table-responsive"  >
           <table class="table table-bordered">
             <thead>
               <tr>
                 <th>No.Protocol</th>
                 <th>Protocol Question</th>
                 <th>Doc.ref</th>
                 <th>status</th>
                 <th>Catatan</th>
                 <th>File</th>
                 <th>Detail</th>
                 <th>Action</th>
               </tr>
             </thead>
             <tbody>
               <tr ng-repeat="p in filterData = (AfisDetail | filter : search) | limitTo:6:6*(page-1)">
                 <td>{{p.pq.pq_number}}</td>
                 <td>{{p.pq.protocol_question}}</td>
                 <td>{{p.pq.doc_refrence}}</td>
                 <td>{{p.status_pq}}</td>
                 <td>{{p.remarks}}</td>
                 <td><button type="button" ng-click="openSPDA_Modal(p)" class="waves-effect btn btn-warning"><i class="fa fa-folder"></i></button></td>
                 <td><button type="button" ng-click="openDetailBy(p)" class="waves-effect btn btn-primary"><i class="fa fa-eye"></i></button></td>

                 <td>
                   <button type="button" ng-click="OpenAction(p)" class="waves-effect btn btn-primary"><i class="fa fa-eye"></i></button>
                   </td>
                 </td>
               </tr>
             </tbody>
           </table>
        </div>
        <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=6></div>
    </div>
  </div>
</article>
</div>
