<div id="content" style="padding:10px">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">
                <div>
                    <div role="content">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <!-- widget div-->
                                <div role="content">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form action="" id="review-form" class="smart-form" novalidate="novalidate">
                                            <div class="jarviswidget-ctrls" role="menu">
                                                <a href="javascript:void(0);" ng-click="close()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom"
                                                    data-original-title="Delete">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                            <fieldset>
                                                <fieldset style="background: mediumturquoise">
                                                    <legend>
                                                        <b>Data Pengajuan Sebelum nya. </b>
                                                    </legend>
                                                    <div>
                                                        <b>Satus : {{parent.status}}</b>
                                                    </div>
                                                    <div>
                                                        <b>Catatan Pengaju : {{parent.remarks}}</b>
                                                    </div>
                                                    <div>
                                                        <b> Document pendukung :</b>
                                                        <ull ng-repeat="pr in parent.file">
                                                            <li>
                                                                <a href="{{urlGet}}/{{pr.path_file}}" target="_blank">{{pr.link_lampiran}}</a>
                                                            </li>

                                                            </ul>
                                                    </div>
                                                    <br>
                                                </fieldset>
                                                <section>

                                                </section>
                                                <section style="background: orange">
                                                    <legend>
                                                    <b>Alasan Di Reject:</b>
                                                    
                                                        <b>{{parent.remaks_admin}}</b>
                                                        </legend>
                                                </section>
                                                <br>
                                            </fieldset>
                                        </form>
                                        <div style="margin-bottom: 15px;" class="col-sm-12 col-md-12 table-responsive">
                                            <div class="row">
                                                    <form action="" id="review-form" class="smart-form" novalidate="novalidate">
                                                        <header> <b>Detail Correction Accept Plan<b> </header>
                                                        <fieldset>
                                                            <section>
                                                                Compelation Date :
                                                                <label class="input">
                                                                    <i class="icon-append fa fa-calendar"></i>
                                                                    <input ng-model="use.compelation_date" name="finishdate" id="finishdate" 
                                                                     placeholder="Compelation Date" class="hasDatepicker"
                                                                        type="date">
                                                                </label>
                                                            </section>
                                                            <section>
                                                                <label class="input">
                                                                    <i class="icon-append fa fa-user"></i>
                                                                    <input ng-model="use.action_office" name="pq_number" id="pq_number" placeholder="Action Office" type="text">
                                                                </label>
                                                            </section>
                                                    
                                                            <section>
                                                                <label class="input">
                                                                    <i class="icon-append fa fa-info"></i>
                                                                    <input ng-model="use.proposed_action" name="refrence" id="refrence" placeholder="Propose Action" type="text">
                                                                </label>
                                                            </section>
                                                    
                                                            <section>
                                                                <label class="label"></label>
                                                                <label class="textarea">
                                                                    <i class="icon-append fa fa-comment"></i>
                                                                    <textarea ng-model="use.evidance_reference" rows="3" name="pq" id="pq" placeholder="Evidence Reference"></textarea>
                                                                </label>
                                                            </section>
                                                            <section>
                                                                Document pendukung :
                                                                <label class="label"></label>
                                                                <label class="textarea">
                                                                    <i class="icon-append fa fa-file"></i>
                                                                    <input type="file" ng-model="file" multiple accept=".pdf" onchange="angular.element(this).scope().updateDataLampiran(this.files)"
                                                                    />
                                                                    </td>
                                                                </label>
                                                            </section>
                                                            <section>
                                                                <ull ng-repeat="parent in parent.file_upload">
                                                                    <li>
                                                                        <a href="{{urlGet}}/{{parent.path_file}}" target="_blank">{{parent.link_lampiran}}</a>
                                                                    </li>
                                                    
                                                                    </ul>
                                                            </section>
                                                            
                                                        </fieldset>
                                                    </form>
                                            </div>
                                            <div ng-if="parent.detail.length>0">
                                            <b>Detail PQ :</b>
                                            <table class="table table-hover table-responsive" >

                                                <thead>
                                                    <tr>
                                                        <th>Kode Detail PQ</th>
                                                        <th>Detail PQ</th>
                                                        <th>Kode Kategori PQ</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="ch in filterData = ( parent.detail | filter : test) | limitTo:4:4*(page-1)">
                                                    <td>{{ch.detail_pq.kode_detail_pq}}</td>
                                                    <td>{{ch.detail_pq.detail_pq}}</td>
                                                    <td>{{ch.detail_pq.kategory.kode_kategory_pq}}</td>
                                                    <td>
                                                        <button class="btn btn-xs btn-default" ng-click="viewDetailInDetail(ch)" type="button">
                                                            <i class="fa fa-fw fa-search txt-color-red"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </table>


                                            <div class="modal-footer text-center">
                                                <div align="center" uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page" ng-change="pageChanged()"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <button class="btn btn-sm btn-danger" ng-click="close()" type="button">Batal</button>
                                                <button class="btn btn-sm btn-primary" ng-click="oke()" type="button">Kirim</button>
                                            </div>

                                        </div>
                                        <!-- end widget content -->
                                    </div>
                                    <!-- end widget div -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </article>
        </div>
    </div>
    <style>
        .scrollable {
            display: block;
            max-height: 150px;
            overflow-y: scroll;
        }
    </style>