<div id="content" style="padding:10px">
    <div class="row">

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">
                <div>
                    <div role="content">
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <!-- widget div-->
                                <div role="content">
                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <form action="" id="review-form" class="smart-form" novalidate="novalidate">
                                            <div class="jarviswidget-ctrls" role="menu">
                                                <a href="javascript:void(0);" ng-click="cancel()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom"
                                                    data-original-title="Delete">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                            <fieldset>
                                                <fieldset>
                                                    <legend>Sesuai ?</legend>
                                                
                                                    <div>
                                                        <input type="checkbox" id="sesuai" name="sesuai"  ng-model="selected1.m1" value="1"/>
                                                        <label for="sesuai">sesuai</label>
                                                    </div>
                                                
                                                    <div>
                                                        <input type="checkbox" id="tidak" name="tidak" ng-model="selected1.m2" value="2"  />
                                                        <label for="tidak">tidak sesuai</label>
                                                    </div>
                                                
                                                    <div>
                                                        <input type="checkbox" id="belum" name="feature" value="3" ng-model="selected1.m3" />
                                                        <label for="belum">belum di terapkan</label>
                                                    </div>
                                                
                                                </fieldset>


                                                <section>
                                                    Document pendukung :
                                                    <label class="input">
                                                        <i class="icon-append fa fa-info"></i>
                                                            <input type="file" ng-model="file" multiple accept=".pdf" onchange="angular.element(this).scope().updateDataLampiran(this.files)"/>
                                                                        </td>

                                                    </label>
                                                    
                                                </section>
                                                <section>
                                                    <ull ng-repeat="parent in fileParent">
                                                        <li>
                                                        <a href="{{urlGet}}/{{parent.path_file}}" target="_blank">{{parent.link_lampiran}}</a>
                                                        </li>
                                                    
                                                    </ul>
                                                </section>
                                                <section>
                                                    Catatan:
                                                    <label class="label"></label>
                                                    <label class="textarea">
                                                        <i class="icon-append fa fa-comment"></i>
                                                        <textarea ng-model="remaksParent" rows="3" placeholder="Catatan"></textarea>
                                                    </label>
                                                </section>
                                            </fieldset>

                                        </form>

                                        <div style="margin-bottom: 15px;" class="col-sm-12 col-md-12 table-responsive">
                                            Detail PQ :



                                            <button style="float:right;" class="btn btn-sm btn-primary" ng-click="ok()" type="button">
                                                Simpan
                                            </button>
                                            &nbsp &nbsp
                                            <button style="float:right;" ng-click="cancel()" type="button" class="btn btn-sm btn-warning">
                                                <i class="fa fa-plus "></i>Batal
                                            </button>

                                            <table class="table table-hover table-responsive">

                                                <thead>
                                                    <tr>
                                                        <th>Kode Detail PQ</th>
                                                        <th>Detail PQ</th>
                                                        <th>Kode Kategori PQ</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="ch in filterData = ( detail | filter : test) | limitTo:4:4*(page-1)">
                                                    
                                                    <td>{{ch.kode_detail_pq}}</td>
                                                    <td>{{ch.detail_pq}}</td>
                                                    <td>{{ch.kategory.kode_kategory_pq}}</td>
                                                    <td>
                                                        <button class="btn btn-xs btn-default" ng-click="openModalActionDetail(ch)" type="button">
                                                            <i class="fa fa-fw fa-edit txt-color-orange"></i>
                                                        </button>
                                                    </td>
                                                </tr>

                                            </table>


                                            <div class="modal-footer text-center">
                                                <div align="center" uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page" ng-change="pageChanged()"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- end widget content -->

                                    </div>
                                    <!-- end widget div -->




                                </div>
                            </div>
                        </div>


                    </div>
                </div>
        </article>

        </div>

    </div>



    <style>
        .scrollable {
            display: block;
            max-height: 150px;
            overflow-y: scroll;
        }
    </style>