<form action="" id="review-form" class="smart-form" novalidate="novalidate">
    <div class="jarviswidget-ctrls" role="menu">
        <a href="javascript:void(0);" ng-click="cancel()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom"
            data-original-title="Delete">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <fieldset>
        <fieldset>
            <legend>Sesuai ?</legend>

            <div>
                <input type="checkbox" id="sesuai" ng-model="selected.m1" name="sesuai" value="1" />
                <label for="sesuai">sesuai</label>
            </div>

            <div>
                <input type="checkbox" id="tidak" name="tidak" ng-model="selected.m2"  value="2" />
                <label for="tidak">tidak sesuai</label>
            </div>

            <div>
                <input type="checkbox" id="belum" name="feature" ng-model="selected.m3" value="3" />
                <label for="belum">belum di terapkan</label>
            </div>

        </fieldset>


        <section>
            Document pendukung :
            <label class="input">
                <i class="icon-append fa fa-info"></i>
                <input type="file"  ng-model="file" multiple accept=".pdf" onchange="angular.element(this).scope().updateDataLampiran2(this.files)"
                />
               
                </td>

            </label>
        </section>
        <section>
            <ull ng-repeat="parent in fileChild">
                <li>
                    <a href="{{urlGet}}/{{parent.path_file}}" target="_blank">{{parent.link_lampiran}}</a>
                </li>
        
                </ul>
        </section>

        <section>
            Catatan:
            <label class="label"></label>
            <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                <textarea ng-model="remaksChild" rows="3"  placeholder="Catatan"></textarea>
            </label>
        </section>
        <button style="float:right;" class="btn btn-sm btn-primary" ng-click="simpan()" type="button">
            Simpan
        </button>
        &nbsp&nbsp&nbsp
        <button style="float:right;" ng-click="cancel()" type="button" class="btn btn-sm btn-warning">
            <i class="fa fa-plus "></i>Batal
        </button>
    </fieldset>
    

</form>