<div class="row">
    <article class="col-sm-12">
        <div class="jarviswidget-editbox"></div>
        <div class="widget-body" ng-controller="PertanyaanCtrl" data-ng-init="check ()">
            <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false"
                data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false"
                data-widget-fullscreenbutton="false" role="widget">
                <header role="heading">
                    <span class="widget-icon">
                        <i class="fa fa-table"></i>
                    </span>
                    <h2>
                        <strong>PROTOCOL QUESTION SERTIFIKASI PENYELENGGARA PELAYANAN LALU LINTAS PENERBANGAN</strong>
                    </h2>
                    <div class="jarviswidget-ctrls" role="menu">
                        <a href="javascript:void(0);" ng-click="submitToadmin()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;"
                            data-placement="top" title="Upload Data">
                            <i class="fa fa-upload "></i>&nbspupload</a>
                    </div>
                    <span class="jarviswidget-loader">
                        <i class="fa fa-refresh fa-spin"></i>
                    </span>
                </header>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No.Protocol</th>
                                <th>Protocol Question</th>
                                <th>Doc.ref</th>
                                <th>Area</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in filterData = (users | filter : search) | limitTo:6:6*(page-1)" ng-show="users.length > 0">
                                
                                <td>{{p.pq_number}}</td>
                                <td>{{p.protocol_question}}</td>
                                <td>{{p.kode_area}}</td>
                                <td>{{p.doc_refrence}}</td>
                                
                                <td>
                                    <button type="button" ng-click="openModal(p)" class="waves-effect btn btn-primary">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </td>

                                
                            </tr>
                            <tr ng-show="users.length == 0">
                                <td colspan="5" class="text-center">No result</td>
                            </tr>
                        </tbody>
                    </table>
                    <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page" ng-change="pageChanged()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=6>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>