<div class="row">
<article class="col-sm-12">
<div class="jarviswidget-editbox"></div>
<div class="widget-body">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
        <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
            <header role="heading">
                <span class="widget-icon"><i class="fa fa-plane"></i></span>
                  <h2><strong>Correction Accept Plan History</strong></h2>
                  <div class="jarviswidget-ctrls" role="menu">
                    <a href="javascript:void(0);" ng-click="getBy('ATC',0)" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Approve">
                     <u>Cetak</u>&nbsp<i class="fa fa-tasks"></i></a>
                  </div>
                  <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
            </header>
        <div class="col-md-7" ng-controller="ViewPertanyaanCtrl" data-ng-init="History()">
          <div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">
            <!-- widget div-->
            <div role="content">
              <!-- widget edit box -->
              <div class="jarviswidget-editbox">
                <!-- This area used as dropdown edit box -->
                <input class="form-control" type="text">
                <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
              </div>
              <!-- end widget edit box -->

              <!-- widget content -->
              <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                  <div class="row">
                    <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
                      </div>
                    </div>

                  </div>
                </div>
                <div class="custom-scroll table-responsive" style="height:290px; overflow-y: scroll;">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>No.Protocol</th>
                        <th>Protocol Question</th>
                        <th>Doc.ref</th>
                        <th>status</th>
                        <th>Catatan</th>
                        <th>File</th>
                        <th>Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="p in filterData = (list_p | filter : search) | limitTo:5:5*(page-1)">
                        <td>{{p.pq.pq_number}}</td>
                        <td>{{p.pq.protocol_question}}</td>
                        <td>{{p.pq.doc_refrence}}</td>
                        <td>{{p.status_pq}}</td>
                        <td>{{p.remarks}}</td>
                        <td><button type="button" ng-click="openSPDA_Modal(p)" class="waves-effect btn btn-warning"><i class="fa fa-folder"></i></button></td>
                        <td><button type="button" ng-click="openDetailBy(p)" class="waves-effect btn btn-primary"><i class="fa fa-eye"></i></button></td>


                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>

              <!-- end widget content -->
            </div>
            <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
    ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=3></div>
            <!-- end widget div -->
          </div>
         </div>

    </div>
  </div>
</article>
</div>
