
<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">

                <header>
                    <span class="widget-icon">
                        <i class="fa fa-list"></i>
                    </span>
                    <h2><b>DETAIL PROTOCOL QUESTION - {{detail[0].pq_number}}</b></h2>
                </header>
                    <div role="content">

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
<div class="widget-body">

<div class="table table-responsive">
    <table style="text-align: left;" class="table table-bordered table-hover">
        <thead>

          <tr>
            <th>Detail.Pq</th>
            <th>Kode Area</th>
            <th>Detail.Pq</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>File Upload</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="u2 in detail">
            <td style="vertical-align: middle !important;">{{u2.kode_detail_pq}}</td>
            <td style="vertical-align: middle !important;">{{u2.kd_area}}</td>
            <td style="vertical-align: middle !important;">{{u2.detail_pq}}</td>
            <td style="vertical-align: middle !important;">{{selectedItem}}</td>
            <td style="vertical-align: middle !important;">{{u2.remarks}}</td>
            <td style="vertical-align: middle !important;">{{u2.file}}</td>
          </tr>

        </tbody>
      </table>
      
</div>
</div>

  <div class="modal-footer text-center">
    <button class="btn btn-sm btn-danger" ng-click="close()" type="button">close</button>
  </div>
</article>
