<div id="content" ng-controller="VendorProfilCtrl" data-ng-init="renderMaster">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
                <h1 class="page-title txt-color-blueDark">
                    Vendor
                    <span class="semi-bold">
                        <i class="fa-fw fa fa-chevron-right"></i>
                        <strong>Profile</strong>
                    </span>
                </h1>
            </div>
        </div>
    
        <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
            <!-- widget options:
            usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
    
            data-widget-colorbutton="false"
            data-widget-editbutton="false"
            data-widget-togglebutton="false"
            data-widget-deletebutton="false"
            data-widget-fullscreenbutton="false"
            data-widget-custombutton="false"
            data-widget-collapsed="true"
            data-widget-sortable="false"
    
            -->
            <header role="heading">
                <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                <h2>Default Tabs with border </h2>
    
            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
    
            <!-- widget div-->
            <div role="content">
    
                <!-- widget edit box -->
                <div class="jarviswidget-editbox">
                    <!-- This area used as dropdown edit box -->
    
                </div>
                <!-- end widget edit box -->
    
                <!-- widget content -->
                <div class="widget-body" style="padding-bottom: 20px;">
    
                    <h4><strong>{{dataEdit.rekanan_lokal.nama_perusahaan}}</strong></h4>
                    <p class="note">{{alamat}}</p>
                    <!-- //Jl. P. Jayakarta No.139 S Jakarta Pusat Jakarta Dki Jakarta 10730. Telp/Fax : 021-0000/021-0001 -->
                    <hr class="simple">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a data-target="#s1" href="javascript:void(0);" data-toggle="tab"><i class="fa fa-fw fa-lg fa-building"></i> Company Profile</a>
                        </li>
                        <li>
                            <a data-target="#s2" href="javascript:void(0);"  data-toggle="tab"><i class="fa fa-fw fa-lg fa-file-text-o"></i> Company Document</a>
                        </li>
                        <li>
                            <a data-target="#s3" href="javascript:void(0);" data-toggle="tab"><i class="fa fa-fw fa-lg fa-user-md"></i> Tenaga Ahli</a>
                        </li>
                        <li>
                            <a data-target="#s4" href="javascript:void(0);" data-toggle="tab"><i class="fa fa-fw fa-lg fa-cubes"></i> Company Experience</a>
                        </li>
                    </ul>
    
                    <div id="myTabContent1" class="tab-content padding-10">
                        <div class="tab-pane fade active in" id="s1">
                            <div class="well" style="background-color: white">
                                <!-- row -->
                                <div class="row">
                                    <!-- col -->
                                    <div class="col-sm-12">
                                        <form class="form-horizontal">
                                <fieldset>
                                    <legend>Company Name</legend>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label>Kode Rekanan</label>
                                            <!-- <input ng-model="dataEdit.kode_rekanan" class="form-control" placeholder="Kode Rekanan" type="text"> -->
                                            <div class="input-group">
                                                <input ng-model="dataEdit.kode_rekanan" class="form-control" placeholder="Kode Rekanan" type="text">
                                                <span class="input-group-addon"><i class="fa fa-thumb-tack"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <label>Nama Perusahaan</label>
                                            <ui-select ng-model="dataEdit.rekanan_lokal.tipe_perusahaan" name="idTipePerusahaan" theme="select2" style="width: 100%" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Type --">{{$select.selected.nama_tipe_perusahaan}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.tipePerusahaan | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_tipe_perusahaan | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div class="col-md-10">
                                            <label>&nbsp;</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-briefcase"></i>
                                                </span>
                                                <input ng-model="dataEdit.rekanan_lokal.nama_perusahaan" class="form-control" placeholder="Company Name" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <legend>Address</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Detail Address</label>
                                        <div class="col-md-10">
                                            <textarea ng-model="dataEdit.rekanan_lokal.detail_alamat" style="resize: vertical" class="form-control" placeholder="Detail Address" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-5">
                                            <label class="">Provinsi</label>
                                            <ui-select ng-model="dataEdit.rekanan_lokal.provinsi" name="idprov" theme="select2" style="width: 100%" ng-change="renderMasterKotaByIdProvinsi(dataEdit.provinsi)" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Provinsi --">{{$select.selected.nama_provinsi}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.provinsi | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_provinsi | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
    
                                        <div class="col-md-5">
                                            <label class="">Kota</label>
                                            <ui-select ng-model="dataEdit.rekanan_lokal.kota" name="idkota" theme="select2" style="width: 100%" ng-change="renderMasterKecamatanByIdKota(dataEdit.kota)" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Kota --">{{$select.selected.nama_kota}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.kota | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_kota | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
    
                                        <div class="col-md-5">
                                            <label class="">Kecamatan</label>
                                            <ui-select ng-model="dataEdit.rekanan_lokal.kecamatan" name="idKecamatan" theme="select2" style="width: 100%" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Kecamatan --">{{$select.selected.nama_kecamatan}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.kecamatan | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_kecamatan | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Provinsi</label>
                                        <div class="col-md-10">
                                            <ui-select ng-model="dataEdit.rekanan_lokal.provinsi" name="idprov" theme="select2" style="width: 100%" ng-change="renderMasterKotaByIdProvinsi(dataEdit.rekanan_lokal.provinsi)" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Provinsi --">{{$select.selected.nama_provinsi}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.provinsi | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_provinsi | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Kota</label>
                                        <div class="col-md-10">
                                            <ui-select ng-model="dataEdit.rekanan_lokal.kota" name="idkota" theme="select2" style="width: 100%" ng-change="renderMasterKecamatanByIdKota(dataEdit.rekanan_lokal.kota)" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Kota --">{{$select.selected.nama_kota}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.kota | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_kota | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Kecamatan</label>
                                        <div class="col-md-10">
                                            <ui-select ng-model="dataEdit.rekanan_lokal.kecamatan" name="idKecamatan" theme="select2" style="width: 100%" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Kecamatan --">{{$select.selected.nama_kecamatan}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.kecamatan | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_kecamatan | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Postal Code</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <input ng-model="dataEdit.rekanan_lokal.kode_pos" class="form-control" placeholder="Postal Code" type="text">
                                                <span class="input-group-addon"><i class="fa fa-envelope-square"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="prepend">Phone</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <input ng-model="dataEdit.rekanan_lokal.telepon" class="form-control" id="prepend" placeholder="Phone Number" type="text">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-phone"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="prepend">Fax</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <input ng-model="dataEdit.rekanan_lokal.fax" class="form-control" id="prepend" placeholder="Fax" type="text">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-fax"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="prepend">NPWP</label>
                                        <div class="col-md-10">
                                            <input ng-model="dataEdit.rekanan_lokal.no_npwp" class="form-control" id="prepend" placeholder="NPWP" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="prepend">Email</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <input ng-model="dataEdit.rekanan_lokal.email" class="form-control" id="prepend" placeholder="Email" type="text">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope-o"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="prepend">Website</label>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <input ng-model="dataEdit.rekanan_lokal.website" class="form-control" id="prepend" placeholder="http://" type="url">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-globe"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <legend>Pengelompokan Perusahaan</legend>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Jenis Perusahaan</label>
                                        <div class="col-md-10">
                                            <ui-select ng-model="dataEdit.rekanan_lokal.jenis_perusahaan" name="idjnsperusahaan" theme="select2" style="width: 100%" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Jenis Perusahaan --">{{$select.selected.nama_jenis_perusahaan}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.jenis_perusahaan | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_jenis_perusahaan | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Cakupan Wilayah</label>
                                        <div class="col-md-10">
                                            <ui-select ng-model="dataEdit.rekanan_lokal.cakupan_wilayah" name="idcakwil" theme="select2" style="width: 100%" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Cakupan Wilayah --">{{$select.selected.nama_cakupan_wilayah}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.cakupan_wilayah | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_cakupan_wilayah | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Kualifikasi</label>
                                        <div class="col-md-10">
                                            <ui-select ng-model="dataEdit.rekanan_lokal.kualifikasi_perusahaan" name="idkualifikasi" theme="select2" style="width: 100%" ng-required="true">
                                                <ui-select-match allow-clear="true" placeholder="-- Pilih Kualifikasi Perusahaan --">{{$select.selected.nama_kualifikasi_perusahaan}}</ui-select-match>
                                                <ui-select-choices repeat="item in master.kualifikasi_perusahaan | filter: $select.search" position="down">
                                                    <div ng-bind-html="item.nama_kualifikasi_perusahaan | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Bidang Usaha</label>
                                        <div class="col-md-10">
                                                                    <div class="checkbox" ng-repeat="item in master_bidang_usaha" style="padding-bottom: 10px;">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="checkbox-inline">
                                                        <input type="checkbox" class="checkbox style-3" id="check{{$index}}" ng-model="item.selected" ng-change="selectBidangUsaha(item.selected, item, $index, 'check' + $index)">
                                                        <span>{{item.nama_bidang_usaha}}</span>
                                                    </label>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button class="btn btn-xs btn-danger" ng-show="item.selected" title="Select Bidang Usaha Detail" ng-click="openModal_Detail(item)"><i class="fa fa-search"></i> Select Detail</button>
                                                </div>
                                            </div>
                                        </div>
    
                                        </div>
                                    </div>
    
                                    <br>
                                    <legend>Contact Person <span><a class="btn btn-xs btn-default pull-right" ng-click="openTambahPIC(dataEdit.rekanan_pic.length)"><i class="fa fa-plus"></i> Add PIC</a></span></legend>
    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Full Name</th>
                                                            <th>Email</th>
                                                            <th>Phone</th>
                                                            <th>Position</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in dataEdit.rekanan_pic" ng-show="dataEdit.rekanan_pic.length > 0">
                                                            <td style="vertical-align: middle !important;">{{item.nama_depan}} {{item.nama_belakang}}</td>
                                                            <td style="vertical-align: middle !important;">{{item.email ? item.email : '-'}}</td>
                                                            <td style="vertical-align: middle !important;">{{item.telepon ? item.telepon : '-'}}</td>
                                                            <td style="vertical-align: middle !important;">{{item.jabatan ? item.jabatan : '-'}}</td>
                                                            <td class="text-center">
                                                                <a href="javascript:void(0);" ng-click="openEditPIC($index, item)" class="btn btn-xs btn-default" title="Edit PIC">
                                                                    <i class="fa fa-fw fa-edit txt-color-yellow"></i>
                                                                </a>
                                                                <a href="javascript:void(0);" ng-click="deletePIC($index, item)" class="btn btn-xs btn-default" title="Delete PIC">
                                                                    <i class="fa fa-fw fa-trash-o txt-color-red"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="dataEdit.rekanan_pic.length == 0">
                                                            <td colspan="5" class="text-center"><strong>No result</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- <pre>{{dataEdit.rekanan_pic | json}}</pre> -->
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
    
                            <!-- modal footer -->
                            <div class="modal-footer text-center">
                                <button class="btn btn-sm btn-danger" ng-click="closeModal()" type="button">
                                    Batal
                                </button>
                                <button class="btn btn-sm btn-primary" ng-click="save(dataEdit)" type="button">
                                    Simpan
                                </button>
                            </div>
                            <!-- end modal footer -->
    
                        </div>
                        </div>
                                    <!-- end col -->
                        </div>
                                <!-- end row -->
                        </div>
                        <div class="tab-pane fade" id="s2">
                                <div role="content">
    
                                        <!-- widget edit box -->
                                        <div class="jarviswidget-editbox">
                                            <!-- This area used as dropdown edit box -->
                
                                        </div>
                                        <!-- end widget edit box -->
                
                                        <!-- widget content -->
                                        <div class="widget-body">
                                            <!-- <p>Adds borders to any table row within <code>&lt;table&gt;</code> by adding the <code>.table-bordered</code> with the base class</p> -->
                                            <div class="row">
                                                <div class="col-sm-3 pull-right">
                                                    <input type="text" class="form-control" placeholder="Search..." ng-model="searchKeywords" ng-keyup="searchSPDA(searchKeywords)">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="table-responsive">
                                            
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:20%;">Document Name</th>
                                                            <th style="width:20%">Start Date</th>
                                                            <th style="width:20%">End Date</th>
                                                            <th style="width:20%">File</th>
                                                            <th style="width:20%">Note</th>
                                                            <th style="width:20%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in dataSPDA">
                                                            <td style="vertical-align: middle !important;">{{item.nama_dokumen_perusahaan}}</td>
                                                            <td style="vertical-align: middle !important;">{{item.tanggal_mulai | date:'dd MMMM yyyy'}}</td>
                                                            <td style="vertical-align: middle !important;">{{item.tanggal_selesai | date:'dd MMMM yyyy'}}</td>
                                                            <td style="vertical-align: middle !important;"><a href="http://10.10.8.6/{{item.file_path}}" target="_blank" title="{{item.file_name}}">{{item.file_name}}</a></td>
                                                            <td style="vertical-align: middle !important;">{{item.keterangan}}</td>
                                                            <td style="vertical-align: middle !important;text-align: center">
                                                                <ul class="demo-btns">
                                                                    <li>
                                                                        <a href="javascript:void(0);" ng-click="getDocDetail(item.id)" class="btn btn-xs btn-default" title="Edit">
                                                                            <i class="fa fa-fw fa-edit txt-color-orange"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="javascript:void(0);" ng-click="deleteDoc(item.id)" class="btn btn-xs btn-default" title="Delete">
                                                                            <i class="fa fa-fw fa-trash-o txt-color-red"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                        <tr ng-show="dataSPDA.length == 0">
                                                            <td colspan="6">No result</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- <pre>{{dataSPDA | json}}</pre> -->
                                                
                                                <ul uib-pagination ng-model="currentPageSPDA"
                                                    total-items="filteredItemsSPDA.length"
                                                    max-size="4"
                                                    ng-change="selectSPDA(currentPageSPDA)"
                                                    items-per-page="numPerPageSPDA"
                                                    rotate="false" class="pagination-sm pull-right" boundary-links="filteredItemsSPDA.length > numPerPageSPDA ? true : false" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
                                            </div>
                                        </div>
                                        <!-- <pre>{{dataBidangUsahaDetail | json}}</pre> -->
                                        <!-- end widget content -->
                
                                    </div>
                        </div>
                        <div class="tab-pane fade" id="s3">
                            <p>
                                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="s4">
                            <p>
                                Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                            </p>
                        </div>
                    </div>
    
                </div>
                <!-- end widget content -->
    
            </div>
            <!-- end widget div -->
    
        </div>
    </div>
    