<div ng-controller="LoginCtrl">
    <header id="header" id="accordion2" href="javascript:;" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne1"
        cg-busy="{promise:promiseBusy,message:'Please wait...'}">
      <div id="logo-group">
        <script type="application/javascript">
          $(window).on('popstate', function () {
            $("body").removeClass("modal-open");
            $("body").removeAttr("style");
            $('.modal').modal('hide');
            $(".modal-backdrop").remove();
            $(".in").remove();
          });
        </script>
        <!-- MAIN APP JS FILE -->
        <script src="js/app.min.js"></script>

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo">

          <!-- style="width: 130px !important; margin-top: -13px;" -->
          <a href="http://dephub.go.id"><img class="gmbrbrand img img-responsive" src="img/avatars/logo_id.png" alt="dephub"></a><span>

        <!-- END LOGO PLACEHOLDER -->

        <!-- Note: The activity badge color changes when clicked and resets the number to 0
          Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->


        <!-- <span id="activity" class="activity-dropdown">
            <i class="fa fa-user"></i>
            <b ng-if="notifCount != 0" class="badge"> {{notifCount}} </b>
          </span> -->

        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
        <div class="ajax-dropdown">

          <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default">
              <input type="radio" name="activity" id="partials/ajax/notify/mail.html"> Msgs (14) </label>
            <label class="btn btn-default">
              <input type="radio" name="activity" id="partials/ajax/notify/notifications.html"> notify (3) </label>
            <label class="btn btn-default">
              <input type="radio" name="activity" id="partials/ajax/notify/tasks.html"> Tasks (4) </label>
          </div>

          <!-- notification content -->
          <div class="ajax-notifications custom-scroll">

            <div class="alert alert-transparent">
              <h4>Click a button to show messages here</h4>
              This blank page message helps protect your privacy, or you can show the first message here automatically.
            </div>

            <i class="fa fa-lock fa-4x fa-border"></i>

          </div>
          <!-- end notification content -->

          <!-- footer: refresh area -->
          <span>
            <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
              <i class="fa fa-refresh"></i>
            </button>
          </span>
          <!-- end footer -->

        </div>
        <!-- END AJAX-DROPDOWN -->
      </div>

      <!-- projects dropdown -->
      <div class="project-context hidden-xs">

        <!-- <span class="label">Projects:</span>
      <span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects
        <i class="fa fa-angle-down"></i>
      </span> -->

        <!-- Suggestion: populate this list with fetch and push technique -->
        <!-- <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
        </li>
        <li>
          <a href="javascript:void(0);">Notes on pipeline upgradee</a>
        </li>
        <li>
          <a href="javascript:void(0);">Assesment Report for merchant account</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:void(0);">
            <i class="fa fa-power-off"></i> Clear</a>
        </li>
      </ul> -->
        <!-- end dropdown-menu-->

      </div>
      <!-- end projects dropdown -->

      <!-- pulled right: nav area -->
      <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
          <span>
            <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
              <i class="fa fa-reorder"></i>
            </a>
          </span>
        </div>
        <!-- end collapse menu -->

        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
          <li class="">
              <li class="divider">
                  <input type="text" name="username" placeholder="Username"  ng-model="User.kode_user" class="form-control" />
                </li>
                <li class="divider">
                  <input type="password" name="username" placeholder="Password" ng-model="User.pass" class="form-control" />
                </li>
                <li class="divider">
                  <button type="button" class="btn btn-primary" ng-click="Login(User)">Login</button>
                </li>
                <li class="divider">
                    <button type="button" class="btn btn-primary" ng-click="registerOpenModal()">Register</button>
                  </li>
              <ul class="dropdown-menu pull-right">
              <!-- <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0">
                  <i class="fa fa-cog"></i> Setting</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0">
                  <i class="fa fa-user"></i>
                  <u>P</u>rofile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut">
                  <i class="fa fa-arrow-down"></i>
                  <u>S</u>hortcut</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen">
                  <i class="fa fa-arrows-alt"></i> Full
                  <u>S</u>creen</a>
              </li> -->




            </ul>
          </li>
        </ul>



        <!-- fullscreen button -->
        <!-- end fullscreen button -->

        <!-- multiple lang dropdown : find all flags in the flags page -->

        <!-- end multiple lang -->

      </div>
      <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel" style="background-color: honeydew;">

    </aside>
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL <-->


    <div style="margin-bottom: 20px;margin-top: 20px;" class="col-md-12"  >

  <!-- Conter -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="img/avatars/banner1.png" alt="banner1" style="width:100%;">

      </div>

      <div class="item">
        <img src="img/avatars/banner2.png" alt="banner2" style="width:100%;">

      </div>



  <!-- END CONTER -->
    </div>
    </div>
  </div>
                <div class="flow container">

                <div class="col-md-12">
                  <div class="card">
                    <div class="header">

            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="text-center">
                        <!-- section title start-->
                        <h1>Flow Process</h1>
                        <h5 class="small-title ">Pengajuan Sertifikat</h5>
                    </div>
                    <!-- /.section title start-->
                </div>
            </div>
          </div>
            <div class="row">
              <div class="body">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="">
                        <!-- service block -->
                        <div class="text-center">
                            <!-- service img -->
                            <img src="img/icon/add.png" alt=""> </div>
                        <!-- service img -->
                        <div class="text-center">
                            <!-- service content -->
                            <h2><b>Pengajuan</b></h2>
                            <p>Buat Pengajuan Dengan Mengisi Pertanyaan Yang Telah Disediakan</p>

                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="">
                        <!-- service block -->
                        <div class="text-center">
                            <!-- service img -->
                            <img src="img/icon/eye.png" alt=""> </div>
                        <!-- service img -->
                        <div class="text-center">
                            <!-- service content -->
                            <h2><b>Revisi</b></h2>
                            <p>Setelah Pengajuan Administrator Akan Mereview Hasil dari pengajuan</p>

                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="">
                        <!-- service block -->
                        <div class="text-center">
                            <!-- service img -->
                            <img src="img/icon/coin.png" alt=""> </div>
                        <!-- service img -->
                        <div class="text-center">
                            <!-- service content -->
                            <h2><b>Payment</b></h2>
                            <p>Jika Hasil Review Sudah Disetujui, Lakukan Pembayaran</p>

                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="">
                        <!-- service block -->
                        <div class="text-center">
                            <!-- service img -->
                            <img src="img/icon/appro.png" alt=""> </div>
                        <!-- service img -->
                        <div class="text-center">
                            <!-- service content -->
                            <h2><b>Sertifikat</b></h2>
                            <p>Download Atau Print Sertifikat Anda Di Link Yang Telah Disediakan</p>

                        </div>
                        <!-- service content -->
                    </div>
                    <!-- /.service block -->
                </div>
                </div>
                </div>
                </div>

            </div>
            </div>
            <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <button type="button" class="btn btn-primary" ng-click="openPdf()">Berita</button>
                            <ul class="header-dropdown m-r--5">
                                <li style="cursor: pointer;" class="dropdown">
                                    <a href="http://www.dephub.go.id/post/kategori/berita">
                                        <div class="toggle"></div>
                                        <div class="toggle"></div>
                                        <div class="toggle"></div>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat. Ridiculus nostra.
                        </div>
                    </div>
                </div>



    <div style="margin-top: 40px;" class="fixed-page-footer">
      <div class="page-footer" data-ng-include="'partials/main_panel/footer.html'"></div>
    </div>



<style>

.flow h1,h5,h2,p{
  font-family: 'Montserrat', sans-serif;
}
  .tengah{
    margin-top:40px;
    margin-bottom:20px;
    padding: 5px;
  }

  .gmbrbrand{

    min-width: 180px;
  }
  .tengah .gmbr{
    border-radius: 10px;
  }
  .misi{
    list-style-type: none;
  }
  .ikon{

  }
</style>
<script>
    $('.carousel').carousel({
  interval: 4000
})
</script>
