<div ng-controller="LoginCtrl">
    <header id="header" id="accordion2" href="javascript:;" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne1"
        cg-busy="{promise:promiseBusy,message:'Please wait...'}">
      <div id="logo-group">
        <script type="application/javascript">
          $(window).on('popstate', function () {
            $("body").removeClass("modal-open");
            $("body").removeAttr("style");
            $('.modal').modal('hide');
            $(".modal-backdrop").remove();
            $(".in").remove();
          });
        </script>
        <!-- MAIN APP JS FILE -->
        <script src="js/app.min.js"></script>
  
        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo">
          
          <!-- style="width: 130px !important; margin-top: -13px;" -->
          <img src="img/Logo_K44.png" alt="SmartAdmin"><span>
              
        <!-- END LOGO PLACEHOLDER -->
  
        <!-- Note: The activity badge color changes when clicked and resets the number to 0
          Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
        
  
        <!-- <span id="activity" class="activity-dropdown">
            <i class="fa fa-user"></i>
            <b ng-if="notifCount != 0" class="badge"> {{notifCount}} </b>
          </span> -->
  
        <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
        <div class="ajax-dropdown">
  
          <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default">
              <input type="radio" name="activity" id="partials/ajax/notify/mail.html"> Msgs (14) </label>
            <label class="btn btn-default">
              <input type="radio" name="activity" id="partials/ajax/notify/notifications.html"> notify (3) </label>
            <label class="btn btn-default">
              <input type="radio" name="activity" id="partials/ajax/notify/tasks.html"> Tasks (4) </label>
          </div>
  
          <!-- notification content -->
          <div class="ajax-notifications custom-scroll">
  
            <div class="alert alert-transparent">
              <h4>Click a button to show messages here</h4>
              This blank page message helps protect your privacy, or you can show the first message here automatically.
            </div>
  
            <i class="fa fa-lock fa-4x fa-border"></i>
  
          </div>
          <!-- end notification content -->
  
          <!-- footer: refresh area -->
          <span> 
            <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
              <i class="fa fa-refresh"></i>
            </button>
          </span>
          <!-- end footer -->
  
        </div>
        <!-- END AJAX-DROPDOWN -->
      </div>
  
      <!-- projects dropdown -->
      <div class="project-context hidden-xs">
  
        <!-- <span class="label">Projects:</span>
      <span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects
        <i class="fa fa-angle-down"></i>
      </span> -->
  
        <!-- Suggestion: populate this list with fetch and push technique -->
        <!-- <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
        </li>
        <li>
          <a href="javascript:void(0);">Notes on pipeline upgradee</a>
        </li>
        <li>
          <a href="javascript:void(0);">Assesment Report for merchant account</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:void(0);">
            <i class="fa fa-power-off"></i> Clear</a>
        </li>
      </ul> -->
        <!-- end dropdown-menu-->
  
      </div>
      <!-- end projects dropdown -->
  
      <!-- pulled right: nav area -->
      <div class="pull-right">
  
        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
          <span>
            <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
              <i class="fa fa-reorder"></i>
            </a>
          </span>
        </div>
        <!-- end collapse menu -->
  
        <!-- #MOBILE -->
        <!-- Top menu profile link : this shows only when top menu is active -->
        <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
          <li class="">
              <li class="divider">
                  <input type="text" name="username" placeholder="Username"  ng-model="User.kode_user" class="form-control" />
                </li>
                <li class="divider">
                  <input type="password" name="username" placeholder="Password" ng-model="User.pass" class="form-control" />
                </li>
                <li class="divider">
                  <button type="button" class="btn btn-primary" ng-click="Login(User)">Login</button>
                </li>
                <li class="divider">
                    <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
                  </li>
              <ul class="dropdown-menu pull-right">
              <!-- <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0">
                  <i class="fa fa-cog"></i> Setting</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0">
                  <i class="fa fa-user"></i>
                  <u>P</u>rofile</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut">
                  <i class="fa fa-arrow-down"></i>
                  <u>S</u>hortcut</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen">
                  <i class="fa fa-arrows-alt"></i> Full
                  <u>S</u>creen</a>
              </li> -->
             
              
       
             
            </ul>
          </li>
        </ul>
  
       
  
        <!-- fullscreen button -->
        <!-- end fullscreen button -->
  
        <!-- multiple lang dropdown : find all flags in the flags page -->
        
        <!-- end multiple lang -->
  
      </div>
      <!-- end pulled right: nav area -->
  
    </header>
    <!-- END HEADER -->
  
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel" style="background-color: honeydew;">
     
    </aside>
    <!-- END NAVIGATION -->
  
    <!-- MAIN PANEL -->
    <div id="main" role="main" >
  <!-- Conter -->
  <div id="content" ng-controller="VendorProfilCtrl" data-ng-init="renderMaster">
      <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-7 col-lg-12">
              <h1 class="page-title txt-color-blueDark">
                 INFROMASI
              </h1>
          </div>
      </div>
  
      <div class="jarviswidget well" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
         
          <header role="heading">
              <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
              <h2>Default Tabs with border </h2>
  
          <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
  
          <!-- widget div-->
          <div role="content">
  
              <!-- widget edit box -->
              <div class="jarviswidget-editbox">
                  <!-- This area used as dropdown edit box -->
  
              </div>
              <!-- end widget edit box -->
  
              <!-- widget content -->
              <div class="widget-body" style="padding-bottom: 20px;">
  
                  <h4><strong>Kementrian Perubungan</strong></h4>
                  <p class="note">....</p>
                  <!-- //Jl. P. Jayakarta No.139 S Jakarta Pusat Jakarta Dki Jakarta 10730. Telp/Fax : 021-0000/021-0001 -->
                  <hr class="simple">
                  <ul id="myTab1" class="nav nav-tabs bordered">
                      <li class="active">
                          <a data-target="#s1" href="javascript:void(0);" data-toggle="tab"><i class="fa fa-fw fa-lg fa-building"></i> Company Profile</a>
                      </li>
                      <li>
                          <a data-target="#s2" href="javascript:void(0);"  data-toggle="tab"><i class="fa fa-fw fa-lg fa-file-text-o"></i> Company Document</a>
                      </li>
                      <li>
                          <a data-target="#s3" href="javascript:void(0);" data-toggle="tab"><i class="fa fa-fw fa-lg fa-user-md"></i> Tenaga Ahli</a>
                      </li>
                      <li>
                          <a data-target="#s4" href="javascript:void(0);" data-toggle="tab"><i class="fa fa-fw fa-lg fa-cubes"></i> Company Experience</a>
                      </li>
                  </ul>
  
                  <div id="myTabContent1" class="tab-content padding-10">
                      <div class="tab-pane fade active in" id="s1">
                          <div class="well" style="background-color: white">
                              <!-- row -->
                              <div class="row">
                                  <!-- col -->
                                  <div class="col-sm-12">
                                     
  
                          <!-- modal footer -->
                          <div class="modal-footer text-center">
                              
                              <img src="img/avatars/content1.jpg" class="pull-right display-image" alt="" style="width: 600px; margin-top: -30px; margin-right: 30px!important;">

                          </div>
                          <!-- end modal footer -->
  
                      </div>
                      </div>
                                  <!-- end col -->
                      </div>
                              <!-- end row -->
                      </div>
                      <div class="tab-pane fade" id="s2">
                              <div role="content">
  
                                      <!-- widget edit box -->
                                      <div class="jarviswidget-editbox">
                                          <!-- This area used as dropdown edit box -->
              
                                      </div>
                                      <!-- end widget edit box -->
              
                                      <!-- widget content -->
                                      <div class="widget-body">
                                          <!-- <p>Adds borders to any table row within <code>&lt;table&gt;</code> by adding the <code>.table-bordered</code> with the base class</p> -->
                                          <div class="row">
                                              <div class="col-sm-3 pull-right">
                                                  <input type="text" class="form-control" placeholder="Search..." ng-model="searchKeywords" ng-keyup="searchSPDA(searchKeywords)">
                                              </div>
                                          </div>
                                          <br>
                                          <div class="table-responsive">
                                          
                                              <table class="table table-bordered">
                                                  <thead>
                                                      <tr>
                                                          <th style="width:20%;">Document Name</th>
                                                          <th style="width:20%">Start Date</th>
                                                          <th style="width:20%">End Date</th>
                                                          <th style="width:20%">File</th>
                                                          <th style="width:20%">Note</th>
                                                          <th style="width:20%">Action</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr ng-repeat="item in dataSPDA">
                                                          <td style="vertical-align: middle !important;">{{item.nama_dokumen_perusahaan}}</td>
                                                          <td style="vertical-align: middle !important;">{{item.tanggal_mulai | date:'dd MMMM yyyy'}}</td>
                                                          <td style="vertical-align: middle !important;">{{item.tanggal_selesai | date:'dd MMMM yyyy'}}</td>
                                                          <td style="vertical-align: middle !important;"><a href="http://10.10.8.6/{{item.file_path}}" target="_blank" title="{{item.file_name}}">{{item.file_name}}</a></td>
                                                          <td style="vertical-align: middle !important;">{{item.keterangan}}</td>
                                                          <td style="vertical-align: middle !important;text-align: center">
                                                              <ul class="demo-btns">
                                                                  <li>
                                                                      <a href="javascript:void(0);" ng-click="getDocDetail(item.id)" class="btn btn-xs btn-default" title="Edit">
                                                                          <i class="fa fa-fw fa-edit txt-color-orange"></i>
                                                                      </a>
                                                                  </li>
                                                                  <li>
                                                                      <a href="javascript:void(0);" ng-click="deleteDoc(item.id)" class="btn btn-xs btn-default" title="Delete">
                                                                          <i class="fa fa-fw fa-trash-o txt-color-red"></i>
                                                                      </a>
                                                                  </li>
                                                              </ul>
                                                          </td>
                                                      </tr>
                                                      <tr ng-show="dataSPDA.length == 0">
                                                          <td colspan="6">No result</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <!-- <pre>{{dataSPDA | json}}</pre> -->
                                              
                                              <ul uib-pagination ng-model="currentPageSPDA"
                                                  total-items="filteredItemsSPDA.length"
                                                  max-size="4"
                                                  ng-change="selectSPDA(currentPageSPDA)"
                                                  items-per-page="numPerPageSPDA"
                                                  rotate="false" class="pagination-sm pull-right" boundary-links="filteredItemsSPDA.length > numPerPageSPDA ? true : false" force-ellipses="true" previous-text="&lsaquo;" next-text="&rsaquo;"></ul>
                                          </div>
                                      </div>
                                      <!-- <pre>{{dataBidangUsahaDetail | json}}</pre> -->
                                      <!-- end widget content -->
              
                                  </div>
                      </div>
                      <div class="tab-pane fade" id="s3">
                          <p>
                              Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony.
                          </p>
                      </div>
                      <div class="tab-pane fade" id="s4">
                          <p>
                              Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table.
                          </p>
                      </div>
                  </div>
  
              </div>
              <!-- end widget content -->
  
          </div>
          <!-- end widget div -->
  
      </div>
  </div>
  


  <!-- END CONTER -->
    </div>

    <div class="fixed-page-footer">
      <div class="page-footer" data-ng-include="'partials/main_panel/footer.html'"></div>
    </div>
  </div>