
             <!-- modal tambah -->
              
<div  data-ng-init="getUser()" id="content">                  
                                             
                 <section id="widget-grid" class="">
    
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
              
                                        
                                          
                                      
                                
                        
            
                                
                         

<div class="body table-responsive">

     

  <table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
<ul class="col-sm-12">
 <input id="tombolsearch"  ng-model="test" class="form-control mr-sm-2" type="search" placeholder="Search">
<button style="float: right;" data-target="#tambahModal" data-toggle="modal" type="submit" class="btn btn-default waves-effect m-r-20"><i class="material-icons">add_circle</i> Tambah</button></div>
</ul>
    <thead>
    <tr>
      
      <th>Nama Lengkap</th>
      <th>Username</th>
      <th>Password</th>
      <th>E-mail</th>
      <th>Alamat</th>
      <th>No.Telepon</th>
      <th colspan="2">Setuju ?</th>
      
    </tr>
  </thead>
    <tr ng-repeat="user in users | filter:test" value="Get Row Index">
      
       
      <td>{{user.nama}}</td>
      <td>{{user.kode_user}} </td>
      <td>{{user.pass}}</td>
      <td>{{user.email}}</td>
      <td>{{user.alamat}}</td>
      <td>{{user.telp}}</td>
      

      <!-- <td><button type="button" class="waves-effect btn btn-primary" ng-click="openModal(ai.airport_id)">Update</button></td> -->
      <td><button data-target="#editModal" data-toggle="modal" ng-click="updateSignUp(user.id)"  type="button" class="waves-effect btn btn-primary">Ya</button></td>
      <td><button type="button" ng-click="deleteSignUp(us.id)"  class="waves-effect btn btn-primary">Tidak</button></td>
                           
      
    </tr>
</table>

                  <div class="modal fade" id="editModal" role="dialog">
                      <div class="modal-dialog modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit User</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                                 <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="user.nama" class="form-control" placeholder="Nama Lengkap" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea ng-model="user.kode_user" type="text" class="form-control" placeholder="Username"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="user.pass" class="form-control" placeholder="Password" />
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="user.email" class="form-control" placeholder="E-mail" />
                                        </div>
                                    </div>
                                    
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="user.alamat" class="form-control" placeholder="Alamat" />
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="user.telp" class="form-control" placeholder="No.Telpon" />
                                        </div>
                                    </div>
                                     
                                    
                                </div>
                            </div>
                                         
                                          
                                      
                                        <button type="submit" ng-click="saveUpdateUser(user.id)" class="btn btn-danger">Submit</button>
                                      
                                    
                                  </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>


      

    
    
           
            </div>
         
         </div>
        
        </section>
      </div>
         
             </div>
              

    
   