
             <!-- modal tambah -->
              
<div  data-ng-init="getMaster('ATC')" id="content">                  
                                             
                 <section id="widget-grid" class="">
    
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
              <div class="modal fade" id="tambahModal" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="tambahModalLabel">Tambah Data</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
                        <div class="modal-body">
                                 <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="dataPq.pq_number" class="form-control" placeholder="Nomor Protocol Question" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea ng-model="dataPq.protocol_question" type="text" class="form-control" placeholder="Protocol Question"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="dataPq.doc_refrence" class="form-control" placeholder="Dokumen Referensi" />
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                                         
                                          
                                      
                                        <button type="submit" ng-click="submitMaster()" class="btn btn-danger">Submit</button>
                                      
                                    
                                  </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
            
                                
                         

<div class="body table-responsive">

     

  <table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
<ul class="col-sm-12">
 <input id="tombolsearch"  ng-model="test" class="form-control mr-sm-2" type="search" placeholder="Search">
<button style="float: right;" data-target="#tambahModal" data-toggle="modal" type="submit" class="btn btn-default waves-effect m-r-20"><i class="material-icons">add_circle</i> Tambah</button></div>
</ul>
    <thead>
    <tr>
      
      <th>No. Pertanyaan</th>
      <th>Pertanyaan</th>
      <th>Dokumen Referensi</th>
      <th>Detail Protocol Question</th>
      <th colspan="2">Edit</th>
    
      
    
      
    </tr>
  </thead>
    <tr ng-repeat="mas in master | filter:test" value="Get Row Index">
      
       
      <td>{{mas.pq_number}}</td>
      <td>{{mas.protocol_question}} </td>
      <td>{{mas.doc_refrence}}</td>

      <td><button type="button" class="waves-effect btn btn-primary" ng-click="openModal(mas.detail_pq)">Det</button></td>
      <td><button data-target="#editModal" data-toggle="modal" ng-click="updateMaster(mas.id)"  type="button" class="waves-effect btn btn-primary">Edit</button></td>

                  <div class="modal fade" id="editModal" role="dialog">
                      <div class="modal-dialog modal-lg" role="document">
           <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit PQ</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
              </button>
                        </div>
                        <div class="modal-body">
                                 <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="mas.pq_number" class="form-control" placeholder="Nomor Protocol Question" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea ng-model="mas.protocol_question" type="text" class="form-control" placeholder="Protocol Question"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" ng-model="mas.doc_refrence" class="form-control" placeholder="Dokumen Referensi" />
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                                         
                                          
                                      
                                        <button type="submit" ng-click="saveUpdateMaster(mas.id)" class="btn btn-danger">Submit</button>
                                      
                                    
                                  </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>


      <td><button type="button" data-toggle="modal" ng-click="deleteMaster(mas.id)" class="waves-effect btn btn-primary">Delete</button></td>
                           
      
    </tr>
</table>

    
    
           
            </div>
         
         </div>
        
        </section>
      </div>
         
             </div>
              

    
   