<div class="container">
    <div class="col-sm-9">
        <header>
            <p ng-click="cancel()">&times;</p>
        </header>
        <steps class="col-sm-12">
            <step class="step1" name="first">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Section A: Applicant Details</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Person/Company Name * :</label>
                                <input type="text" class="form-control" placeholder="Name" ng-model="detail.company_name" disabled />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Type :</label>
                                     <input type="text" class="form-control" placeholder="Name" ng-model="detail.area" disabled/>
                            </div>
                            <!-- ==== -->
                            <div class="form-group">
                                <label for="">Location Of Proposed Part 172 Operation :</label>
                                <input type="text" class="form-control" ng-model="detail.location_operation" placeholder="Location" required="true">
                            </div>
                            <div ng-if="detail.area == 'ATC'">
                                <div class="col-sm-7 form-group">
                                    <label for="">Air Traffic Service(s) To Be Provided :</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="detail.ats_aprovided1" id="at1" ng-checked="detail.ats_aprovided1" disabled> Aerodrome Control Service
                                        </label>
                                    </div>
                                    <div class="checkbox ">
                                        <label>
                                            <input type="checkbox" ng-model="detail.ats_aprovided2" ng-checked="detail.ats_aprovided1" id="at2" disabled> ATC
                                        </label>
                                    </div>
                                    <div class="checkbox ">
                                        <label>
                                            <input type="checkbox" ng-model="detail.ats_aprovided3" id="at3" ng-checked="detail.ats_aprovided3" disabled> Approach Control Surveilence Service
                                        </label>
                                    </div>
                                    <div class="checkbox ">
                                        <label>
                                            <input type="checkbox" ng-model="detail.ats_aprovided4" id="at4" ng-checked="detail.ats_aprovided3" disabled> Area Control Procedural Service
                                        </label>
                                    </div>
                                    <div class="checkbox ">
                                        <label>
                                            <input type="checkbox" ng-model="detail.ats_aprovided5" id="at5" ng-checked="detail.ats_aprovided5" disabled> Area Control Surveilence Service
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label for="">Daily Hours Of Service:</label>
                                    <input style="max-height: 28px; max-width: 70px;" type="text" class="form-control input-sm" ng-model="detail.hours_service1" placeholder="Hours"
                                        required="true">
                                    <input style="max-height: 28px; max-width: 70px;" type="text" class="form-control input-sm" ng-model="detail.hours_service2" placeholder="Hours"
                                        required="true">
                                    <input style="max-height: 28px; max-width: 70px;" type="text" class="form-control input-sm" ng-model="detail.hours_service3" placeholder="Hours"
                                        required="true">
                                    <input style="max-height: 28px; max-width: 70px;" type="text" class="form-control input-sm" ng-model="detail.hours_service4" placeholder="Hours"
                                        required="true">
                                    <input style="max-height: 28px; max-width: 70px;" type="text" class="form-control input-sm" ng-model="detail.hours_service" placeholder="Hours"
                                        required="true">
                                </div>
                            </div>
                            <!-- ==== -->

                            <div ng-if="detail.area == 'AFIS'">
                                <div class="col-sm-7 form-group">
                                    <label for="">Air Traffic Service(s) To Be Provided :</label>
                                    <div class="checkbox ">
                                        <label>
                                            <input type="checkbox" ng-model="u.ats_aprovided2" id="at2" value="1" required="true"> AFIS
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label for="">Daily Hours Of Service:</label>
                                    <input style="max-height: 28px; max-width: 70px;" type="text" class="form-control input-sm" ng-model="u.hours_service1" placeholder="Hours"
                                        required="true">
                                </div>
                            </div>
                            <div ng-if="detail.area == 'FSS'">
                                <div class="col-sm-7 form-group">
                                    <label for="">Air Traffic Service(s) To Be Provided :</label>
                                    <div class="checkbox ">
                                        <label>
                                            <input type="checkbox" ng-model="u.ats_aprovided2" id="at2" value="1" required="true"> FSS
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label for="">Daily Hours Of Service:</label>
                                    <input style="max-height: 28px; max-width: 70px;" type="text" class="form-control input-sm" ng-model="u.hours_service1" placeholder="Hours"
                                        required="true">
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="clearfix panel-footer">
                        <button class="btn btn-success pull-right" step-next>
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </step>
            <step class="step2" name="second">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Section B: Operational Details To Be Provided To DCGA With Application</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="">Names Of Officers If Company * :</label>
                                    <input type="text" class="form-control" ng-model="u.office_company" placeholder="Name Officer" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="">Registered Address * :</label>
                                    <input type="text" class="form-control" ng-model="u.registered_addres" placeholder="Registered Address" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="">Postal Address * :</label>
                                    <input type="text" class="form-control" ng-model="u.postal_addres" placeholder="Postal Code" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="">No Telepon * :</label>
                                    <input type="text" class="form-control" ng-model="u.no_telp" placeholder="Telephone" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="">NPWP * :</label>
                                    <input type="text" class="form-control" ng-model="u.npwp" placeholder="NPWP" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="">Commencement Date :</label>
                                    <input type="date" class="form-control" ng-model="u.commencement_date" placeholder="mm/dd/yyyy" date: "'dd/MM/yyyy'" required="true">
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="">Organization Chart :</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="u.organization_chart" value="1"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="u.organization_chart" value="0"> No
                                </label>
                                <label class="radio-inline">Provided</label>

                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="">Operation Manual :</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions2" id="inlineRadio3" ng-model="u.operation_manual" value="1"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions2" id="inlineRadio4" ng-model="u.operation_manual" value="0"> No
                                </label>
                                <label class="radio-inline">Provided</label>

                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="">Are Facilities Installed And Operative ?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions3" id="inlineRadio5" ng-model="u.facilities_installed" value="1"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions3" id="inlineRadio6" ng-model="u.facilities_installed" value="0"> No
                                </label>

                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="">Was Staff Been Engaged ?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions4" id="inlineRadio7" ng-model="u.staff_engaged" value="1"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions4" id="inlineRadio8" ng-model="u.staff_engaged" value="0"> No
                                </label>

                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="">Can Service Be Demonstrated ?</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions5" id="inlineRadio9" ng-model="u.service_demonstrated" value="1"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions5" id="inlineRadio10" ng-model="u.service_demonstrated" value="0"> No
                                </label>

                            </div>
                            <div style="margin-bottom: 20px;" class="col-sm-12 form-group">
                                <label for="">Organization Hold CASR 172 Certificate :</label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions6" id="inlineRadio11" ng-model="u.organization_hold_casr172" value="1"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions6" id="inlineRadio12" ng-model="u.organization_hold_casr172" value="0"> No
                                </label>

                            </div>

                        </form>
                        <div class="col-sm-12">
                            <small style="margin-top: 40px; margin-bottom: 10px;">
                                <i>Documentary Evidence In Support Of All Matters In This Application May Be Requested
                                </i>
                            </small>
                        </div>
                    </div>



                    <div class="clearfix panel-footer">
                        <button class="btn btn-danger pull-left" step-previous>
                            <i class="glyphicon glyphicon-chevron-left"></i> Prev
                        </button>
                        <button class="btn btn-success pull-right" step-next>
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </step>
            <step class="step3" name="third">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Section C: List Of Non-Compliances With CASR 172</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputName">Reference</label>
                                <textarea class="form-control" rows="3" ng-model="u.reference" required="true"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName">Details And Reason For Non-Compliance
                                </label>
                                <textarea class="form-control" rows="3" ng-model="u.detail_reason" required="true"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix panel-footer">
                        <button class="btn btn-danger pull-left" step-previous>
                            <i class="glyphicon glyphicon-chevron-left"></i> Prev
                        </button>
                        <button class="btn btn-success pull-right" step-next>
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </step>
            <step class="step4" name="fourth">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Section D: Declaration</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="">On Behalf Of :</label>
                                <input type="text" class="form-control" ng-model="u.on_behalf_of" placeholder="On Behalf Of" required>
                            </div>
                            <div class="form-group">
                                <label for="">Signed :</label>
                                <input type="text" class="form-control" ng-model="u.signed" placeholder="Signed" required="true">
                            </div>
                            <div class="form-group">
                                <label for="">My Authority To Act On Behalf Of The Applicant Is :</label>
                                <input type="text" class="form-control" ng-model="u.authority" placeholder="Authority" required="true">
                            </div>
                            <div class="form-group">
                                <label for="">Name Of Person Making The Declaration :</label>
                                <input type="text" class="form-control" ng-model="u.name_of_person" placeholder="Name Of Person" required="true">
                            </div>
                            <div class="form-group">
                                <label for="">E-mail :</label>
                                <input type="email" class="form-control" ng-model="u.email" placeholder="E-mail" required="true">
                            </div>
                            <div class="form-group">
                                <label for="">Username :</label>
                                <input type="text" class="form-control" ng-model="u.username" placeholder="Username" required="true">
                            </div>
                            <div class="form-group">
                                <label for="">Password :</label>
                                <input type="text" class="form-control" ng-model="u.password" placeholder="Password" required="true">
                            </div>
                        </form>
                    </div>
                    <div class="clearfix panel-footer">
                        <button class="btn btn-danger pull-left" step-previous>
                            <i class="glyphicon glyphicon-chevron-left"></i> Prev
                        </button>
                        <button class="btn btn-success pull-right" ng-click="Register();">
                            Complete
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </step>
        </steps>
    </div>
</div>
<style>
    header p {
        text-align: right;
        font-size: 40px;
        font-weight: bold;
    }

    header p:hover,
    header p:focus {
        color: #f44336;
        cursor: pointer;
    }

    .seksi {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        color: blue;
        text-align: center;
    }
</style>