<!-- MAIN CONTENT -->
<div id="content" ng-controller="DashboardCtrl" data-ng-init="init()">

        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <!-- <h1 class="page-title txt-color-blueDark">
                    Home
                    <span class="semi-bold txt-color-green">>
                        <strong>Dashboard</strong>
                    </span>
                </h1> -->
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <ul id="sparks" class="">
                    <li class="sparks-info">
                        <!-- <h5> Budget <span class="txt-color-blue">$47,171</span></h5>
                        <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                            1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                        </div> -->
                    </li>
                    <li class="sparks-info">
                        <!-- <h5> Item Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                        <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                            110,150,300,130,400,240,220,310,220,300, 270, 210
                        </div> -->
                    </li>
                </ul>
            </div>
        </div>
        <!-- widget grid -->
        <section id="widget-grid" class="">
    
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <div class="widget-body no-padding">
                            <div class="table-responsive">
                                <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center !important;">STEP-1</th>
                                            <th style="text-align: center !important;">STEP-2</th>
                                            <th style="text-align: center !important;">STEP-3</th>
                                            <th style="text-align: center !important;">STEP-4</th>
                                            <th style="text-align: center !important;">STEP-4</th>
                                            <th style="text-align: center !important;">STEP-6</th>
                                            <th style="text-align: center !important;">STEP-7</th>
                                            <th style="text-align: center !important;">STEP-8</th>
                                            <th style="text-align: center !important;">STEP-9</th>
                                            <th style="text-align: center !important;">STEP-10</th>
                                            <th style="text-align: center !important;">STEP-11</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Acknowledggment of application within 7 days</td>
                                            <td>Face-to-Face Meeting</td>
                                            <td>Operations Manual provided by applicant</td>
                                            <td>Application Chechked for Compieteness</td>
                                            <td>Documentation assessed against CASR Part 172 and AC 172</td>
                                            <td> Demonstration of service required/no required and provided/not provided by applicant</td>
                                            <td>Applicant assessed as being able to provide a service</td>
                                            <td> Application granted/declined</td>
                                            <td>Certification advised of outcome</td>
                                            <td>Certificated Issue</td>
                                            <td>Operations Manual acknowledged and returned</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[0].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[0].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[1].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[1].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[2].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[2].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[3].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[3].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[4].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[4].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[5].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[5].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[6].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[6].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[7].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[7].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" class="{{step[8].css}}">
                                                    <span class="widget-icon">
                                                        <i class="{{step[8].icon}}"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        <td class="text-center">
                                            <a href="javascript:void(0);" class="{{step[9].css}}">
                                                <span class="widget-icon">
                                                    <i class="{{step[9].icon}}"></i>
                                                </span>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="javascript:void(0);" class="{{step[10].css}}">
                                                <span class="widget-icon">
                                                    <i class="{{step[10].icon}}"></i>
                                                </span>
                                            </a>
                                        </td>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 no-padding">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="well no-padding">
                            <div role="content">
    
                                <!-- widget content -->
                                <div class="widget-body">
                                    <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
    
                                    <!-- this is what the user will see -->
                                    <canvas id="pieChart" height="204" width="510"></canvas>
                                    <canvas tc-chartjs-pie chart-data="dataPie" chart-options="optionsPie" width="350" height="150">
                                    </canvas>
                                </div>
                                <!-- end widget content -->
    
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="well no-padding">
                            <div role="content">
    
                                <!-- widget content -->
                                <div class="widget-body">
                                    <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
    
                                    <!-- this is what the user will see -->
                                     <canvas id="pieChart" height="204" width="510"></canvas> 
                                    <canvas tc-chartjs-bar chart-data="data" chart-options="options" width="350" height="150">
                                    </canvas>
                                </div>
                                <!-- end widget content -->
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 no-padding">
                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
    
                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget" id="wid-id-7" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                            data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-collapsed="false"
                            data-widget-sortable="false" role="widget">
                            <header role="heading">
                                <span class="widget-icon">
                                    <i class="fa fa-group text-info"></i>
                                </span>
                                <h2>New Registered Airport</h2>
    
                                <span class="jarviswidget-loader">
                                    <i class="fa fa-refresh fa-spin"></i>
                                </span>
                            </header>
    
                            <!-- widget div-->
                            <div role="content">
    
                                <!-- widget edit box -->
                                <div class="jarviswidget-editbox">
                                    <!-- This area used as dropdown edit box -->
                                    <input class="form-control" type="text">
                                </div>
                                <!-- end widget edit box -->
    
                                <!-- widget content -->
                                <div class="widget-body no-padding">
    
                                    <!-- this is what the user will see -->
                                    <div class="chat-body custom-scroll">
                                        <ul>
                                            <li class="message margin-bottom-10" ng-repeat="item in dataNewVendor">
                                                <!-- <img src="img/avatars/2.png" alt="" class="img-circle"> -->
                                                <div class="message-text" style="margin-left:0px">
                                                    <a href="javascript:void(0);" class="username txt-color-blueDark">{{item.rekanan_lokal.tipe_perusahaan.nama_tipe_perusahaan}}. {{item.rekanan_lokal.nama_perusahaan}}</a>
                                                    <span class="font-xs" style="text-align: justify">
                                                        {{item.rekanan_lokal.detail_alamat}}
                                                    </span>
                                                    <time class="p-relative d-block margin-top-5"> {{item.rekanan_lokal.created_at | date:'dd-MM-yyyy'}} </time>
                                                </div>
                                            </li>
                                            <li class="v-align-m text-align-center">
                                                <a href="javascript:void(0);" class="btn btn-primary no-margin btn-xs">Load more</a>
                                            </li>
                                        </ul>
                                    </div>
    
                                </div>
                                <!-- end widget content -->
    
                            </div>
                            <!-- end widget div -->
    
                        </div>
                        <!-- end widget -->
    
                    </article>
                </div>
            </div>
    
        </section>
        <!-- end widget grid -->
    
    </div>
    <!-- END MAIN CONTENT -->