<div style="margin-top: 100px;" class="row">
    <div class="col-xs-12 col-sm-6">
        <span class="txt-color-white">Certification System 0.0.1 <span class="hidden-xs"> KEMEN.HUB</span> © 2017-2018</span>
    </div>

    <div class="col-xs-6 col-sm-6 text-right hidden-xs">
        <div class="txt-color-white inline-block">
            <i class="txt-color-blueLight hidden-mobile">Last account activity <i class="fa fa-clock-o"></i> <strong>52 mins ago &nbsp;</strong>					</i>
        </div>
    </div>
</div>