<div ng-controller="MainCtrl">
	<header id="header" id="accordion2" href="javascript:;" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne1"
	    cg-busy="{promise:promiseBusy,message:'Please wait...'}">
		<div id="logo-group">
			<script type="application/javascript">
				$(window).on('popstate', function () {
					$("body").removeClass("modal-open");
					$("body").removeAttr("style");
					$('.modal').modal('hide');
					$(".modal-backdrop").remove();
					$(".in").remove();
				});
			</script>
			<!-- MAIN APP JS FILE -->
			<script src="js/app.min.js"></script>

			<!-- PLACE YOUR LOGO HERE -->
			<span id="logo">

				<!-- style="width: 130px !important; margin-top: -13px;" -->
				<img class="gmbrbrand img img-responsive" src="img/avatars/logo_id.png" alt="dephub"><span>

			<!-- END LOGO PLACEHOLDER -->

			<!-- Note: The activity badge color changes when clicked and resets the number to 0
				Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->


			<!-- <span id="activity" class="activity-dropdown">
					<i class="fa fa-user"></i>
					<b ng-if="notifCount != 0" class="badge"> {{notifCount}} </b>
				</span> -->

			<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
			<div class="ajax-dropdown">

				<!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
				<div class="btn-group btn-group-justified" data-toggle="buttons">
					<label class="btn btn-default">
						<input type="radio" name="activity" id="partials/ajax/notify/mail.html"> Msgs (14) </label>
					<label class="btn btn-default">
						<input type="radio" name="activity" id="partials/ajax/notify/notifications.html"> notify (3) </label>
					<label class="btn btn-default">
						<input type="radio" name="activity" id="partials/ajax/notify/tasks.html"> Tasks (4) </label>
				</div>

				<!-- notification content -->
				<div class="ajax-notifications custom-scroll">

					<div class="alert alert-transparent">
						<h4>Click a button to show messages here</h4>
						This blank page message helps protect your privacy, or you can show the first message here automatically.
					</div>

					<i class="fa fa-lock fa-4x fa-border"></i>

				</div>
				<!-- end notification content -->

				<!-- footer: refresh area -->
				<span> Last updated on: 12/12/2013 9:43AM
					<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
						<i class="fa fa-refresh"></i>
					</button>
				</span>
				<!-- end footer -->

			</div>
			<!-- END AJAX-DROPDOWN -->
		</div>

		<!-- projects dropdown -->
		<div class="project-context hidden-xs">

			<!-- <span class="label">Projects:</span>
		<span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects
			<i class="fa fa-angle-down"></i>
		</span> -->

			<!-- Suggestion: populate this list with fetch and push technique -->
			<!-- <ul class="dropdown-menu">
			<li>
				<a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
			</li>
			<li>
				<a href="javascript:void(0);">Notes on pipeline upgradee</a>
			</li>
			<li>
				<a href="javascript:void(0);">Assesment Report for merchant account</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="javascript:void(0);">
					<i class="fa fa-power-off"></i> Clear</a>
			</li>
		</ul> -->
			<!-- end dropdown-menu-->

		</div>
		<!-- end projects dropdown -->

		<!-- pulled right: nav area -->
		<div class="pull-right">

			<!-- collapse menu button -->
			<div id="hide-menu" class="btn-header pull-right">
				<span>
					<a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu">
						<i class="fa fa-reorder"></i>
					</a>
				</span>
			</div>
			<!-- end collapse menu -->

			<!-- #MOBILE -->
			<!-- Top menu profile link : this shows only when top menu is active -->
			<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
				<li class="">
					<a href="javascript:void(0);" title="{{userLogin}}" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
						<img src="img/avatars/sunny.png" alt="{{userLogin}}" class="online" />
					</a>
					<ul class="dropdown-menu pull-right">
						<!-- <li>
							<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0">
								<i class="fa fa-cog"></i> Setting</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0">
								<i class="fa fa-user"></i>
								<u>P</u>rofile</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut">
								<i class="fa fa-arrow-down"></i>
								<u>S</u>hortcut</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen">
								<i class="fa fa-arrows-alt"></i> Full
								<u>S</u>creen</a>
						</li> -->
						<li>
							<span class="padding-5 padding-top-0 padding-bottom-0" data-action="toggleShortcut">
								<strong>{{user.nama}}</strong>
							</span>
						</li>
						<!-- <li class="divider"></li>
						<li ng-show="dataLogin.secure[0].id_rekanan != null">
							<a href="javascript:void(0);" ng-click="directToProfile(vendorProfile.link_menu)" class="padding-5 padding-top-0 padding-bottom-0">
								<strong>{{vendorProfile.nama_menu}}</strong>
							</a>
						</li> -->
						<li ng-show="dataLogin != null" class="divider"></li>
						<li>
							<a href="javascript:void(0);" ng-click="logout()" class="padding-10 padding-top-0 padding-bottom-0">
								<i class="fa fa-sign-out fa-lg"></i>
								<strong>Logout</strong>
							</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- logout button -->
			<div id="logout" class="btn-header transparent pull-right">
				<span>
					<a href="" title="Sign Out" ng-click="logout()">
						<i class="fa fa-sign-out"></i>
					</a>
				</span>
			</div>
			<!-- end logout button -->

			<!-- fullscreen button -->
			<div id="fullscreen" class="btn-header transparent pull-right">
				<span>
					<a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen">
						<i class="fa fa-arrows-alt"></i>
					</a>
				</span>
			</div>
			<!-- end fullscreen button -->

			<!-- multiple lang dropdown : find all flags in the flags page -->
			<ul class="header-dropdown-list hidden-xs">
				<li>
					<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
						<img src="img/blank.gif" class="flag flag-us" alt="United States">
						<span> English (US) </span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu pull-right">
						<li class="active">
							<a href="javascript:void(0);">
								<img src="img/blank.gif" class="flag flag-us" alt="United States"> English (US)</a>
						</li>
						<!-- <li>
						<a href="javascript:void(0);">
							<img src="img/blank.gif" class="flag flag-fr" alt="France"> Français</a>
					</li> -->
						<li>
							<a href="javascript:void(0);" ng-click="underconstruction()">
								<img src="img/blank.gif" class="flag flag-id" alt="Indonesia"> Indonesia (ID)</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- end multiple lang -->

		</div>
		<!-- end pulled right: nav area -->

	</header>
	<!-- END HEADER -->

	<!-- Left panel : Navigation area -->
	<!-- Note: This width of the aside area can be adjusted through LESS variables -->
	<aside id="left-panel" style="background-color: honeydew;">
		<!-- User info -->
		<div class="login-info">
			<span>
				<!-- User image size is adjusted inside CSS, it should stay as it -->

				<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
					<img src="img/avatars/sunny.png" alt="me" class="online" />
					<span>

					</span>
				</a>

			</span>
		</div>
		<!-- end user info -->

         <!-- <nav data-ng-include="'partials/navigation.html'"></nav>  -->
         <nav data-ng-init="initMenu()">
            <ul >
                <li ui-sref-active="active" ng-repeat="parent in menu_navigasi">
                    <a ui-sref="{{parent.menu.link_menu}}">
                        <i class="{{parent.menu.icon}}"></i>
                        <span class="menu-item-parent font-sm">{{parent.menu.nama_menu}}</span>
										</a>

                    <ul ng-if="menu_navigasi[$index].menu.child.length !=  0">
                        <li ng-repeat="child in parent.menu.child">
                            <a ng-click="typeView(child.link_menu)" href=""><i class="{{child.icon}}"></i>
                                  <span class="menu-item-parent font-sm">{{child.nama_menu}}</span>
                            </a>
													</li>
										</ul>
                </li>
            </ul>
        </nav>
	</aside>
	<!-- END NAVIGATION -->

	<!-- MAIN PANEL -->
	<div id="main" role="main" >

			<!-- end breadcrumb -->

			<!-- You can also add more buttons to the
		ribbon for further usability

		Example below:

		<span class="ribbon-button-alignment pull-right">
		<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
		<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
		<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
		</span> -->

		<div ui-view></div>
	</div>
	<!-- END MAIN PANEL -->


	<!-- PAGE FOOTER -->
	<div class="fixed-page-footer">
		<div class="page-footer" data-ng-include="'partials/main_panel/footer.html'"></div>
	</div>
</div>
