
             <!-- modal tambah -->
<div class="card row" ng-controller="AirportCtrl">
<article class="col-sm-12">
<div class="jarviswidget-editbox"></div>
<div class="widget-body">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
        <header role="heading">
            <span class="widget-icon"><i class="fa fa-table"></i></span>
              <h2><strong>List Airport</strong></h2>
              <div class="jarviswidget-ctrls" role="menu">
                 <a href="javascript:void(0);" ng-click="openModalTambah()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Create Data">
                    <i class="fa fa-plus "></i> Tambah Data</a>
              </div>
              <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>     

<div class="body table-responsive" data-ng-init="getAi()">                  
<table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
<ul class="col-sm-3">
 <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input class="form-control" ng-model="filterText" id="prepend" placeholder="Filter" type="text">
                      </div> 

</ul>
    <thead>
    <tr>
      
      <th>ID Bandara</th>
      <th>Nama Bandara</th>
      <th>Tipe Bandara</th>
      <th>Kota</th>
      <th>Dibuat Pada</th>
      <th>Pembuat</th>
      <th>Disunting Pada</th>
      <th>Penyunting</th>
      <th>Pulau</th>
      <th>Kantor Wilayah</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="2">Edit</th>
      
    </tr>
  </thead>
    <tr ng-repeat="ai in filterData = (airport | filter : filterText) | limitTo:10:10*(page-1)">
      
       
      <td>{{ai.airport_id}}</td>
      <td>{{ai.airport_name}} </td>
      <td>{{ai.airport_type}}</td>
      <td>{{ai.city}}</td>
      <td>{{ai.created}}</td>
      <td>{{ai.creator}}</td>
      <td>{{ai.edited}}</td>
      <td>{{ai.editor}}</td>
      <td>{{ai.island}}</td>
      <td>{{ai.kanwil}}</td>
      <td>{{ai.lat}}</td>
      <td>{{ai.lon}}</td>

      <!-- <td><button type="button" class="waves-effect btn btn-primary" ng-click="openModal(ai.airport_id)">Update</button></td> -->
      <td>
                  <a href="javascript:void(0);" ng-click="openModalEdit(ai)" class="btn btn-xs btn-default" title="Edit">
                      <i class="fa fa-fw fa-edit txt-color-orange"></i>
                  </a>
              </td>
              <td>
                  <a href="javascript:void(0);" ng-click="deleteDoc(item.id)" class="btn btn-xs btn-default" title="Delete">
                      <i class="fa fa-fw fa-trash-o txt-color-red"></i>
                  </a>
      </td>
                           
      
    </tr>
</table>
      </div>
      <ul uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
      ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10></ul>
    </div>
  </div>
</article>
</div>
         
            
              

    
   