

    <div id="content" style="padding:10px">
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">

                        <div role="content">
                            <div class="row clearfix">

                                        <div class="col-sm-12">



          
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>

        <!-- widget div-->
        <div role="content">

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body no-padding">

            <form action="" id="review-form" class="smart-form" novalidate="novalidate">
              <header>
                Edit Airport
              </header>

              <fieldset>



                <section>
                  <label class="input"> <i class="icon-append fa fa-tag"></i>
                    <input ng-model="air.airport_id"  placeholder="Airport ID" type="text">
                  </label>
                </section>

                <section>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input ng-model="air.airport_name"  placeholder="Airport Name" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-plane"></i>
                    <input ng-model="air.airport_type"  placeholder="Airport Type" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-road"></i>
                    <input ng-model="air.city"  placeholder="City" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-home"></i>
                    <input ng-model="air.island"  placeholder="Province" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-suitcase"></i>
                    <input ng-model="air.kanwil"  placeholder="Regional Office" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-location-arrow"></i>
                    <input ng-model="air.lat"  placeholder="Latitude" type="text">
                  </label>
                </section>
                <section>
                  <label class="input"> <i class="icon-append fa fa-map-marker"></i>
                    <input ng-model="air.lon"  placeholder="Longitude" type="text">
                  </label>
                </section>







                   <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="cancel()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="ok(air)" type="button">
                                Kirim
                            </button>
                        </div>

              </fieldset>

            </form>

          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->





                                    </div>
                        </div>


                    </div>
                </div>
            </article>

        </div>

    </div>
