
             <!-- modal tambah -->
                               
                                             
               
                       
<div class="row" ng-controller="MasterCtrl">
<article class="col-sm-12">
<div class="jarviswidget-editbox"></div>
<div class="widget-body">
    <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
        <header role="heading">
            <span class="widget-icon"><i class="fa fa-table"></i></span>
              <h2><strong>Master Protocol Question</strong></h2>
              <div class="jarviswidget-ctrls" role="menu">
                 <a href="javascript:void(0);" ng-click="openModalTambah()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Create Data">
                    <i class="fa fa-plus "></i> Buat PQ</a>
              </div>
              <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
        </header>
<div class="body table-responsive"  ng-init="getBy('ATC')">

     


<table class="table table-bordered table-hover table-responsive"  style="text-align: left; width: 100%">
    <thead>
    <tr>
      
      <th>No. Pertanyaan</th>
      <th>Pertanyaan</th>
      <th>Dokumen Referensi</th>
      <th>Detail Protocol Question</th>
      <th colspan="2">Edit</th>
    
      
    
      
    </tr>
  </thead>
    <tr ng-repeat="mas in master | filter:test" value="Get Row Index">
      
       
      <td>{{mas.pq_number}}</td>
      <td>{{mas.protocol_question}} </td>
      <td>{{mas.doc_refrence}}</td>

      <td><button type="button" class="waves-effect btn btn-primary" ng-click="openModal(mas.detail_pq)">Det</button></td>
      <td><button data-target="#editModal" data-toggle="modal" ng-click="openModalEdit(mas)"  type="button" class="waves-effect btn btn-primary">Edit</button></td>


      <td><button type="button" data-toggle="modal" ng-click="deleteMaster(mas.id)" class="waves-effect btn btn-primary">Delete</button></td>
                           
      
    </tr>
</table>
 </div>
</div>
</div>
</article>
</div>

         
    
   