
             <!-- modal tambah -->




<article class="col-sm-12" ng-controller="MasterCtrl">
<div class="jarviswidget-editbox"></div>
<div class="widget-body">
  <div class="jarviswidget jarviswidget-color-blueLight jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">
      <header role="heading">
          <span class="widget-icon"><i class="fa"></i></span>
            <h2><strong>{{title}}</strong></h2>
            <div class="jarviswidget-ctrls" role="menu">
              <a href="javascript:void(0);" ng-click="openModalTambah()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Approve">
               <u>Tambah</u>&nbsp<i class="fa fa-new"></i></a>
              <a href="javascript:void(0);" ng-click="swipe('ATC')" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Approve">
               <u>ATC</u>&nbsp<i class="fa fa-tasks"></i></a>
               <a href="javascript:void(0);" ng-click="swipe('AFIS')" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Approve">
                <u>AFIS</u>&nbsp<i class="fa fa-tasks "></i></a>
                <a href="javascript:void(0);" ng-click="swipe('FSS')" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="All Reject">
                  <u>FSS</u>&nbsp<i class="fa fa-tasks "></i></a>
            </div>
            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
      </header>
<div class="table-responsive"  ng-init="swipe('ATC')">



  <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
  ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=7></div>
<table class="table table-bordered table-hover"  style="width: 100%">

    <thead>
    <tr>
      <th>No. Pertanyaan</th>
      <th>Pertanyaan</th>
      <th>Dokumen Referensi</th>
      <th class="text-center">ACTION</th>
    </tr>

  </thead>
    <tr ng-repeat="mas in  filterData = (master | filter : test) | limitTo:7:7*(page-1)" value="Get Row Index">
      <td>{{mas.pq_number}}</td>
      <td>{{mas.protocol_question}} </td>
      <td>{{mas.doc_refrence}}</td>
      <td class="text-center" style="width: 10%"><button data-target="#editModal" data-toggle="modal" ng-click="openModalEdit(mas)"  type="button" class="waves-effect btn btn-warning">
        <i class="fa fa-fw fa-edit"></i>
      </button>
      &nbsp;<button type="button" data-toggle="modal" ng-click="deleteMaster(mas.id)" class="waves-effect btn btn-danger">
          <i class="fa fa-fw fa-trash"></i></button></td>
    </tr>
</table>

 </div>
</div>
</div>
</article>
