<div id="content" style="padding:10px">
        <div class="row">
            
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">
    
                    <div>
                        <div role="content">
                            <div class="row clearfix">
                                    
                                        <div class="col-sm-12">
                                                
                
                                
                    
                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                <!-- widget div-->
                <div role="content">
                    
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        
                    </div>
                    <!-- end widget edit box -->
                    
                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        
                        <form action="" id="review-form" class="smart-form" novalidate="novalidate">
                            <header>
                                Buat Protocol Question
                            </header>

                            <fieldset>
                                <section>
                                    <label class="input"> <i class="icon-append fa fa-user"></i>
                                        <input name="pq_number" ng-model="ma.pq_number" id="pq_number" placeholder="PQ Number" type="text">
                                    </label>
                                </section>

                                <section>
                                    <label class="input"> <i class="icon-append fa fa-info"></i>
                                        <input ng-model="ma.doc_refrence" name="refrence" id="refrence" placeholder="Dokumen Referensi" type="text">
                                    </label>
                                </section>

                                <section>
                                    <label class="label"></label>
                                    <label class="textarea"> <i class="icon-append fa fa-comment"></i>                                      
                                        <textarea ng-model="ma.protocol_question" rows="3" name="pq" id="pq" placeholder="Protocol Question"></textarea> 
                                    </label>
                                </section>

                                
                                     <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="cancel()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="ok(ma)" type="button">
                                Simpan
                            </button>
                        </div>
                                
                            </fieldset>
                            
                        </form>                     
                        
                    </div>
                    <!-- end widget content -->
                    
                </div>
                <!-- end widget div -->
                
            
                                                 
                                                 
                                        </div>
                                    </div>                 
                        </div>
    
                       
                    </div>
                </div>
            </article>
    
        </div>
    
    </div>
    
    
    
    <style>
        .scrollable {
            display:block;
            max-height:150px;
            overflow-y:scroll;
        }
    </style>