
<div id="content" style="padding:10px">
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">

                    <div>
                        <div role="content">
                            <div class="row clearfix">
                                        <div class="col-sm-12">

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <form action="" id="review-form" class="smart-form" novalidate="novalidate">
                          <div class="jarviswidget-ctrls" role="menu">
                                <a href="javascript:void(0);" ng-click="cancel()" class="button-icon jarviswidget-delete-btn"
                                rel="tooltip" title="" data-placement="bottom" data-original-title="Delete">
                                  <i class="fa fa-times"></i></a>
                                </div>

                            <fieldset>
                                <section>
                                    PQ Number :<label class="input"> <i class="icon-append fa fa-user"></i>
                                        <input name="pq_number" ng-model="ma.pq_number" id="pq_number" placeholder="PQ Number" type="text" readonly="true">
                                    </label>
                                </section>

                                <section>
                                    Document Reference :<label class="input"> <i class="icon-append fa fa-info"></i>
                                        <input ng-model="ma.doc_refrence" name="refrence" id="refrence" placeholder="Dokumen Referensi" type="text">
                                    </label>
                                </section>

                                <section>
                                    Protocol Question :<label class="label"></label>
                                    <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                                        <textarea ng-model="ma.protocol_question" rows="3" name="pq" id="pq" placeholder="Protocol Question"></textarea>
                                    </label>
                                </section>
                            </fieldset>

                        </form>

                        <div  style="margin-bottom: 15px;" class="col-sm-12 col-md-12 table-responsive">
                        Detail PQ :



                        <button style="float:right;" class="btn btn-sm btn-primary" ng-click="saveMaster()" type="button">
                            Simpan
                        </button>
                        &nbsp
                        &nbsp
                        <button style="float:right;" ng-click="openModalAddDetail()" type="button" class="btn btn-sm btn-warning">
                          <i class="fa fa-plus "></i>Add Detail PQ
                        </button>

                        <table class="table table-hover table-bordered">

                            <thead>
                                <tr>
                                    <th>Kode Detail PQ</th>
                                    <th>Detail PQ</th>
                                    <th>Kode Kategori PQ</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ch in childData | limitTo:4:4*(page-1)" ng-show="childData.length > 0">
                                    <td>{{ch.kode_detail_pq}}</td>
                                    <td>{{ch.detail_pq}}</td>
                                    <td>{{ch.kode_kategory_pq}}</td>
                                    <td class="text-center">
                                    <button class="btn btn-xs btn-default" ng-click="openModalEditDetail(ch)" type="button">
                                        <i class="fa fa-fw fa-edit txt-color-orange"></i>
                                    </button>
                                    <button class="btn btn-xs btn-default" ng-click="openDelete($index)" type="button">
                                        <i class="fa fa-fw fa-trash txt-color-orange"></i>
                                    </button>
                                    </td>
                                    <!-- <td>
                                    <button class="btn btn-xs btn-default" type="button">
                                        <i class="fa fa-fw fa-trash txt-color-orange"></i>
                                    </button>
                                    </td> -->
                                </tr>
                                <tr ng-show="childData.length == 0">
                                    <td colspan="4" class="text-center">No result</td>
                                </tr>
                            </tbody>
                        </table>


                        <div class="modal-footer text-center">
                          <div align="center" uib-pagination class="pagination-sm pagination" total-items="childData.length" ng-model="page"
                          ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4>
                          </div>
                        </div>

                    </div>

                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

                                        </div>
                                    </div>
                        </div>


                    </div>
                </div>
            </article>

        </div>

    </div>



    <style>
        .scrollable {
            display:block;
            max-height:150px;
            overflow-y:scroll;
        }
    </style>
