<div id="content" style="padding:10px">
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">

                        <div role="content">
                            <div class="row clearfix">

                                        <div class="col-sm-12">




				<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>

				<!-- widget div-->
				<div role="content">

					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->

					</div>
					<!-- end widget edit box -->

					<!-- widget content -->
					<div class="widget-body no-padding">

						<form action="" id="review-form" class="smart-form" novalidate="novalidate">
							<header>
								Insert Detail PQ
							</header>

							<fieldset>
								<section>
									Kode Detail PQ :<label class="input"> <i class="icon-append fa fa-user"></i>
										<input  ng-model="dataEditDetail._kode_detail_pq" type="text" >
									</label>
								</section>
                <section>
                  Detail PQ :<label class="label"></label>
                  <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                    <textarea ng-model="dataEditDetail._detail_pq" rows="3"  placeholder="Protocol Question"></textarea>
                  </label>
                </section>
								<section>
									Kode Kategori PQ : <label class="select">
										<select ng-model="dataEditDetail._kode_kategory_pq"
                 						ng-options="option.kode_kategory_pq as option.kategory_pq for option in da.kategory">
                          </select><i></i>
             						</label>
								</section>

							</fieldset>

						</form>

                                    <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="cancel()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="pushArrayDetail(dataEditDetail)" type="button">
                                Simpan
                            </button>
                        </div>

					</div>
					<!-- end widget content -->

				</div>
				<!-- end widget div -->





                                    </div>
                        </div>


                    </div>
                </div>
            </article>

        </div>

    </div>
