<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" ng-controller="UserCtrl"   data-ng-init="getBy()" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

  <header role="heading">
    <div class="jarviswidget-ctrls" role="menu">

   </div>
     <span class="widget-icon"><i class="fa fa-user"></i></span>
    <h2><strong>Daftar Pengajuan user</strong></h2>
  <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>


</header>
  <!-- widget div-->
  <div role="content">
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->
      <input class="form-control" type="text">
      <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding" >
      <div class="widget-body-toolbar">
        <div class="row">
          <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
            </div>
          </div>
        </div>
      </div>
      <div class="custom-scroll table-responsive" style="height:290px; overflow-y: scroll;">
        <table class="table table-bordered">
          <thead>
    <tr style="text-align: center">

      <th>Nama Lengkap</th>
      <th>Username</th>
      <th>E-mail</th>
      <th>No.Telpon</th>
      <th>Tipe Sertifikat</th>
      <th>Detail Persoalan</th>
      <th>Action</th>
      <th>Action</th>

    </tr>
  </thead>
    <tr ng-repeat="user in filterData = (list_user | filter : search) | limitTo:5:5*(page-1)">


      <td>{{user.name_of_person}}</td>
      <td>{{user.username}} </td>
      <td>{{user.email}}</td>
      <td>{{user.no_telp}}</td>
      <td>{{user.area}}</td>
      <td>{{user.detail_reason}}</td>

<td>
  <button data-toggle="modal" type="button" ng-click="previewDetail(user)" class="btn btn-sm btn-labeled btn-primary">

    <i class="glyphicon glyphicon-search"></i>
    </span>detail</button>
</td>
      <!-- <td><button type="button" class="waves-effect btn btn-primary" ng-click="openModal(ai.airport_id)">Update</button></td> -->
        <td>
          <div ng-if="user.status_register==0">
                  <button data-toggle="modal" type="button"
                   ng-click="saveApproved(user,'1')"
                    class="btn btn-sm btn-labeled btn-success">

              <i class="glyphicon glyphicon-ok"></i>
            </span>Approve</button>
          </div>
        <div ng-if="user.status_register==1">
          <button data-toggle="modal" type="button" ng-click="saveApproved(user,'0')" 
          class="btn btn-sm btn-labeled btn-danger">
        
            <i class="glyphicon glyphicon-remove"></i>
            </span>Reject</button>
        </div>
          
        </td>
        


    </tr>


</table>

      </div>

    </div>

    <!-- end widget content -->
  </div>
  <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></div>
  <!-- end widget div -->
</div>
