<div id="content" style="padding:10px">
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">

                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-list"></i>
                        </span>
                        <h2>Tambah User</h2>
                    </header>

                    <div>
                        <div role="content">
                            <div class="row clearfix">

                                        <div class="col-sm-12">
                                                <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Nama Lengkap</div>
                                                         <input type="text" ng-model="us.nama" class="form-control" placeholder="Nama Lengkap" />
                                                     </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Airport ID</div>
                                                         <input type="text" ng-model="us.airport.airport_id" type="text" class="form-control" placeholder="Airport ID"/>
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Username</div>
                                                         <input type="text" ng-model="us.kode_user" type="text" class="form-control" placeholder="Username"/>
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Password</div>
                                                         <input type="text" ng-model="us.pass" class="form-control" placeholder="Password" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">E-mail</div>
                                                         <input type="text" ng-model="us.email" class="form-control" placeholder="E-Mail" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Status</div>
                                                         <input type="text" ng-model="us.status" class="form-control" placeholder="Status" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Alamat</div>
                                                         <input type="text" ng-model="us.alamat" class="form-control" placeholder="Alamat" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">No. Handphone</div>
                                                         <input type="text" ng-model="us.hp" class="form-control" placeholder="No. Handphone" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">No. Telpon Rumah</div>
                                                         <input type="text" ng-model="us.telp_rumah" class="form-control" placeholder="No Telpon Rumah" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">No. Telpon Kantor</div>
                                                         <input type="text" ng-model="us.telpon_kantor" class="form-control" placeholder="No Telpon Kantor" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Tipe Sertifikat</div>
                                                         <select  ng-model="user.selectedItem3" ng-change="updateData(selectedItem3)"
                                                         ng-options="option.value for option in tipes">
                                                         </select>
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Kode Tipe User</div>
                                                         <input type="text" ng-model="us.tipe_user.kode_tipe_user" class="form-control" placeholder="Kode Tipe User" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Tipe User</div>
                                                         <input type="text" ng-model="us.tipe_user.nama_tipe_user" class="form-control" placeholder="Tipe User" />
                                                        </div>
                                                 </div>

                                        </div>
                                    </div>
                        </div>

                        <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="cancel()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="ok(us)" type="button">
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </article>

        </div>

    </div>



    <style>
        .scrollable {
            display:block;
            max-height:150px;
            overflow-y:scroll;
        }
    </style>
