<div id="content" style="padding:10px">
        <div class="row">
            
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">
    
                    <header>
                        <span class="widget-icon">
                            <i class="fa fa-list"></i>
                        </span>
                        <h2>EDIT User - {{air.airport_name}}</h2>
                    </header>
    
                    <div>
                        <div role="content">
                            <div class="row clearfix">
                                    
                                        <div class="col-sm-12">
                                                <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Airport ID</div>
                                                         <input type="text" ng-model="us.airport_id" class="form-control" placeholder="ID Bandara" />
                                                     </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Airport Name</div>
                                                         <input type="text" ng-model="air.airport_name" type="text" class="form-control" placeholder="Nama Bandara"/>
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Airport Type</div>
                                                         <input type="text" ng-model="air.airport_type" class="form-control" placeholder="Tipe Bandara" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">City</div>
                                                         <input type="text" ng-model="air.city" class="form-control" placeholder="Kota" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Island</div>
                                                         <input type="text" ng-model="air.island" class="form-control" placeholder="Pulau" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Kanwil</div>
                                                         <input type="text" ng-model="air.kanwil" class="form-control" placeholder="Kantor Wilayah" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Latitude</div>
                                                         <input type="text" ng-model="air.lat" class="form-control" placeholder="Latitude" />
                                                        </div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="input-group">
                                                         <div class="input-group-addon">Longitude</div>
                                                         <input type="text" ng-model="air.lon" class="form-control" placeholder="Longitude" />
                                                        </div>
                                                 </div>
                                        </div>
                                    </div>                 
                        </div>
    
                        <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="cancel()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="ok(air)" type="button">
                                Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </article>
    
        </div>
    
    </div>
    
    
    
    <style>
        .scrollable {
            display:block;
            max-height:150px;
            overflow-y:scroll;
        }
    </style>