<!-- MAIN CONTENT -->
<div id="content" ng-controller="PekerjaanCtrl">
    <!-- row -->
    <div class="row">

       <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-list-alt"></i> Pekerjaan
            </h1>
        </div>
        <!-- end col -->
                                                                            
    </div>
    <!-- end row -->
                                    
    <!--
    The ID "widget-grid" will start to initialize all widgets below 
    You do not need to use widgets if you dont want to. Simply remove 
    the <section></section> and you can use wells or panels instead 
    -->
                                    
    <!-- widget grid -->
    <section id="widget-grid" class="">
                    
    <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <!-- <div class="jarviswidget" id="wid-id-11" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false"> -->
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"
                    -->
                    
                    <!-- widget div-->
                    <!-- <div class="no-padding"> -->
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                        </div>
                        <!-- end widget edit box -->
                    
                        <div class="widget-body">
                            <!-- content -->
                            <div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false" role="widget">	
                                <header role="heading">                                    
                                    <span class="widget-icon">
                                        <i class="fa fa-table"></i>
                                    </span>
                                    <h2>List Pekerjaan</h2>

                                    <!-- <div class="jarviswidget-ctrls" role="menu">
                                        <a href="javascript:void(0);" ng-click="createData()" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Create Data">
                                            <i class="fa fa-plus "></i> Create
                                        </a>
                                        <a href="javascript:void(0);" ng-click="" class="button-icon jarviswidget-toggle-btn" style="padding: 0 10px;" data-placement="top" title="Upload Data">
                                            <i class="fa fa-upload "></i> Upload
                                        </a>
                                    </div> -->

                                    <span class="jarviswidget-loader">
                                        <i class="fa fa-refresh fa-spin"></i>
                                    </span>
                                </header>	
                         
                                <!-- widget div-->
                                <div>

                                    <!-- widget edit box -->
                                    <div class="jarviswidget-editbox">
                                        <!-- This area used as dropdown edit box -->
                                    </div>
                                    <!-- end widget edit box -->
                    
                                    <!-- widget content -->
                                    <div class="widget-body no-padding">
                                        <div class="widget-body-toolbar">
                                          <div class="row">
                                            <div class="col-xs-3">
                                              <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                                                <thead>
                                                    <tr>
                                                        <!-- <th style="width: 30px !important; text-align: center !important;">No.</th> -->
                                                        <th style="width: 15% !important; text-align: center !important;">Kode Pekerjaan</th>
                                                        <th style="width: 20% !important; text-align: center !important;">Airport</th>
                                                        <th style="width: 30% !important; text-align: center !important;">PIC</th>
                                                        <th style="width: 30% !important; text-align: center !important;">Pengaju</th>
                                                        <!-- <th style="width: 10% !important; text-align: center !important;">Currency</th> -->
                                                        <th style="width: 15% !important; text-align: center !important;">Action</th>                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  <tr ng-repeat="item in dataPekerjaan | filter: search | limitTo:10:10*(page-1)" ng-show="dataPekerjaan.length > 0">
                                                    <td>{{item.kode_prog}}</td>
                                                    <td>{{item.airport}}</td>
                                                    <td>
                                                        <label class="control-label"><strong>Nama </strong>: {{item.pic.nama}}</label><br>
                                                        <span class="small text-muted"><strong>Email </strong>: {{item.pic.email}}</span><br>
                                                        <span class="small text-muted"><strong>No. Telp </strong>: {{item.pic.telp_rumah}}</span>
                                                      </td>
                                                    <td>
                                                      <label class="control-label"><strong>Nama </strong>: {{item.pengaju_name}}</label><br>
                                                      <span class="small text-muted"><strong>Email </strong>: {{item.pengaju_email}}</span><br>
                                                      <span class="small text-muted"><strong>No. Telp </strong>: {{item.pengaju_telp}}</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <ul class="demo-btns">
                                                          <li><button rel="tooltip" title="Assign" ng-click="assignTask(item)" class="btn btn-xs btn-default"><i class="fa fa-fw fa-edit txt-color-green"></i> Assign</button></li>
                                                        </ul>
                                                    </td>
                                                  </tr>
                                                  <tr ng-show="dataPekerjaan.length == 0">
                                                    <td colspan="5" class="text-center">No result</td>
                                                  </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- end widget content -->
                    
                                </div>
                                <!-- end widget div -->
                                <div uib-pagination class="pagination-sm pagination" style="padding-bottom: 10px;background-color: #fafafa !important;" total-items="dataPekerjaan.length" ng-model="page" ng-change="pageChanged()"
                                  previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10>
                                </div>

                            </div>
                            <!-- end content -->

                        </div>
                    
                    <!-- </div> -->
                    <!-- end widget div -->
               
                <!-- </div> -->
                <!-- end widget -->

            </article>

        </div>
        <!-- end row -->
                                        
    </section>

</div>