<div id="content" class="no-padding-top">
    <br>
    <!-- <div class="jwpopup-head alert alert-info alert-block" style="margin: -10px 0px 25px;">

        <button ng-click="closeModal()" type="button" class="close">
            <span>×</span>
        </button>

        <h4 class="alert-heading">Form Edit Purchase Request</h4>

    </div> -->
    
    <div class="jarviswidget jarviswidget-color-purity jarviswidget-sortable" id="wid-id-60" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" role="widget">
        <header role="heading">
            <div class="widget-toolbar" role="menu">
                <a href="javascript:void(0);" ng-click="closeModal()" class="button-icon jarviswidget-delete-btn" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete" aria-describedby="tooltip224871"><i class="fa fa-times"></i></a>
            </div>
            <span class="widget-icon"> <i class="fa fa-file"></i> </span>
            <h2>Assign Pekerjaan</h2>
        </header>
            
        <!-- <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header> -->
    
        <div role="content">
            
            <!-- widget edit box -->
            <div class="jarviswidget-editbox">
            </div>
            <!-- end widget edit box -->
            
            <!-- widget content -->
            <div class="widget-body">
                <div class="widget-body">
                    <form class="form-horizontal" name="frmRequest">
                        <fieldset>
                            <legend>Pekerjaan</legend>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><strong>Kode Pekerjaan</strong></label>
                                        <div class="col-md-5">
                                            <label class="control-label">{{dataAssign.kode_prog}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><strong>Airport</strong></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <label class="control-label">{{dataAssign.airport}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><strong>Pengaju</strong></label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <label class="control-label">{{dataAssign.pengaju_name}}</label>
                                                <div class="small text-muted">{{dataAssign.pengaju_email}}</div>
                                                <div class="small text-muted">{{dataAssign.pengaju_telp}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <legend>Pilih PIC</legend>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"><strong>PIC</strong></label>
                                        <div class="col-md-8">
                                            <!-- <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-map"></i></span>
                                            <input class="form-control text-muted text-left" value="Jakarta" type="text">
                                            </div> -->
                                            <select  ng-model="dataAssign._pic" ng-required="true"  data-placeholder="Choose a PIC" ng-required="true" class="form-control" ng-options="item.kode_user as item.nama for item in listPic">
                                                <!-- <option value=""></option>
                                                <option ng-repeat="item in listPic" value="{{item.kode_user}}">{{item.nama}}</option> -->
                                            </select>
                                        </div>									
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <!-- end widget content -->

        </div>										
    </div>
    <br>
    <div class="jwpopup-foot">
        <center>
            <button type="button" ng-click="closeModal()" class="btn btn-default text-center">
                <strong>Close</strong>
            </button>
            <button type="button" ng-disabled="frmRequest.$invalid" ng-click="save(dataAssign)" class="btn btn-primary text-center">
                <strong>Save</strong>
            </button>
        </center>
    </div>
</div>

<style>
  .form-horizontal .control-label {
    text-align: left !important;
  }
</style>