<div class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" ng-controller="ReportCtrl"   data-ng-init="getAllUser()" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" role="widget">

  <header role="heading">
    <div class="jarviswidget-ctrls" role="menu">

   </div>
     <span class="widget-icon"><i class="fa fa-user"></i></span>
    <h2><strong>Cetak Sertifikat</strong></h2>
  <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
</header>
  <!-- widget div-->
  <div role="content">
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
      <!-- This area used as dropdown edit box -->
      <input class="form-control" type="text">
      <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body no-padding" >
      <div class="widget-body-toolbar">
        <div class="row">
          <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input class="form-control" id="prepend" placeholder="Filter" type="text" ng-model="search">
            </div>
          </div>
        </div>
      </div>
      <div class="custom-scroll table-responsive" style="height:290px; overflow-y: scroll;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Company Name</th>
              <th>Registered Address</th>
              <th>No.Tlp</th>
              <th>NPWP</th>
              <th>Reference</th>
              <th>E-Mail</th>
              <th>Cetak</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in filterData = (list_user | filter : search) | limitTo:5:5*(page-1)">
              <td>{{p.company_name}}</td>
              <td>{{p.registered_address}}</td>
              <td>{{p.no_telp}}</td>
              <td>{{p.npwp}}</td>
              <td>{{p.reference}}</td>
              <td>{{p.email}}</td>
              <td >
               <button  class="btn btn-sm btn-labeled btn-success" ng-click="openPdf(p)"><span class="btn-label"><i class="glyphicon glyphicon-print"></i></span>cetak</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

    <!-- end widget content -->
  </div>
  <div uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></div>
  <!-- end widget div -->
</div>
