<div id="content" style="padding:10px">
        <div class="row">

            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-purity" id="wid-id-6" data-widget-colorbutton="false" data-widget-togglebutton="false"
                    data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" style="margin-bottom: 0px;">

                        <div role="content">
                            <div class="row clearfix">

                                        <div class="col-sm-12">




        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>

        <!-- widget div-->
        <div role="content">

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body no-padding">

            <form action="" id="review-form" class="smart-form" novalidate="novalidate">
              <header>
                Detail Correction Accept Plan
              </header>

              <fieldset>

                <section>
                    Compelation Date :<label class="input"> <i class="icon-append fa fa-calendar"></i>
                      <input ng-model="use.compelation_date" name="finishdate" id="finishdate" placeholder="Compelation Date" class="hasDatepicker" type="date">

                    </label>
                    </section>

                <section>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                    <input ng-model="use.action_office" name="pq_number"  id="pq_number" placeholder="Action Office" type="text">
                  </label>
                </section>

                <section>
                  <label class="input"> <i class="icon-append fa fa-info"></i>
                    <input ng-model="use.proposed" name="refrence" id="refrence" placeholder="Propose Action" type="text">
                  </label>
                </section>

                <section>
                  <label class="label"></label>
                  <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                    <textarea ng-model="use.evidance" rows="3" name="pq" id="pq" placeholder="Evidence Reference"></textarea>
                  </label>
                </section>

                <section>
                  <label class="label"></label>
                  <label class="textarea"> <i class="icon-append fa fa-file"></i>
                    <input type="file" ng-click="setIndex($index)" ng-model="file" multiple accept=".pdf" onchange="angular.element(this).scope().updateDataLampiran(this.files)" /></td>
                  </label>
                </section>






                   <div class="modal-footer text-center">
                            <button class="btn btn-sm btn-danger" ng-click="close()" type="button">
                                Batal
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="oke()" type="button">
                                Kirim
                            </button>
                        </div>

              </fieldset>

            </form>

          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->





                                    </div>
                        </div>


                    </div>
                </div>
            </article>

        </div>

    </div>
